<template>
  <IonLabel style="text-align: center">
    <h3>No hay pagos realizados</h3>
  </IonLabel>
  <IonButton
    style="margin-top: 15px"
    color="secondary"
    expand="block"
    :router-link="path_bill_add"
    shape="round"
    size="small"
  >
    Nuevo
  </IonButton>
</template>

<script setup lang="ts">
import { IonButton, IonLabel } from "@ionic/vue";

const path_bill_add = "bill-add";
</script>
<style scoped></style>
