<template>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button color="secondary" :router-link="path_check_bill" class="button-transparent" size="small">
            <IonIcon :icon="calculatorOutline"></IonIcon>
        </ion-fab-button>
    </ion-fab>
</template>

<script setup lang="ts">
import { calculatorOutline } from 'ionicons/icons';
import { IonFab, IonFabButton, IonIcon } from '@ionic/vue';

const path_check_bill = 'check-bill';

</script>

<style scoped>
@import "@/assets/button-transparent.css";
</style>