<template>
  <IonLabel style="text-align: center">
    <IonText>
      <h3>No hay encuentros abiertos</h3>
    </IonText>
  </IonLabel>
  <br />
  <IonButton
    color="secondary"
    expand="block"
    :router-link="path_meet_add"
    shape="round"
    size="small"
  >
    Nuevo
  </IonButton>
</template>

<script setup lang="ts">
import { IonLabel, IonButton, IonText } from "@ionic/vue";

const path_meet_add = "meet-add";
</script>

<style scoped></style>
