<template>
  <IonItem lines="none" class="ion-no-padding ion-no-margin">
    <ion-list>
      <IonItem lines="none" class="ion-no-margin">
        <ion-label class="ion-no-padding ion-no-margin">
          <h2>Nombre:</h2>
          <p>{{ props.name }}</p>
        </ion-label>
      </IonItem>
      <IonItem lines="none" class="ion-no-margin">
        <ion-label class="ion-no-padding ion-no-margin">
          <h2>Fecha creacion:</h2>
          <p>{{ formatDateFull(props.created) }}</p>
        </ion-label>
      </IonItem>
      <IonItem lines="none" class="ion-no-margin">
        <ion-label class="ion-no-padding ion-no-margin">
          <h2>Fecha modificacion:</h2>
          <p>{{ formatDateFull(props.updated) }}</p>
        </ion-label>
      </IonItem>
      <IonItem lines="none" class="ion-no-margin">
        <ion-label class="ion-no-padding ion-no-margin">
          <h2>Estado:</h2>
          <p>{{ getState(props.active) }}</p>
        </ion-label>
      </IonItem>
      <IonItem class="ion-no-margin" v-if="props.idMeet" lines="none">
        <ion-label class="ion-no-padding ion-no-margin">
          <h2>Identificador:</h2>
          <p>{{ props.idMeet }}</p>
        </ion-label>
      </IonItem>
    </ion-list>
  </IonItem>
</template>
<script setup lang="ts">
import { IonItem, IonLabel, IonList } from "@ionic/vue";

import { formatDateFull } from "@/arq_hex/_utils/UtilsDate";

const props = defineProps<{
  name: string;
  created: Date;
  updated: Date;
  active: boolean;
  idMeet: string;
}>();

//Methods
const getState = (active: boolean) => {
  return active ? "Abierto" : "Cerrado";
};
</script>
<style scoped></style>
