<template>
  <IonGrid class="ion-no-padding ion-no-margin" v-if="props.listBill.length > 0">
    <IonItem class="ion-no-padding ion-no-margin">
      <IonGrid class="ion-no-padding ion-no-margin">
        <IonRow>
          <IonCol size="2">Ver</IonCol>
          <IonCol size="2">Hora</IonCol>
          <IonCol>Nomb.</IonCol>
          <IonCol>Monto</IonCol>
          <IonCol size="2">Pago</IonCol>
        </IonRow>
      </IonGrid>
    </IonItem>

    <IonItem
      class="ion-no-padding"
      v-for="(bill, indexHoriz) in mapBillHome"
      :key="indexHoriz"
    >
      <IonLabel>
        <h3>
          <IonText>{{ bill[0] }}</IonText>
        </h3>
        <IonGrid class="ion-no-padding ion-no-margin">
          <IonRow fixed="true" v-for="(item, index) in bill[1]" :key="index">
            <IonCol size="2">
              <IonIcon
                color="secondary"
                @click="goToBillUpdate(item.idBill)"
                :icon="eye"
              ></IonIcon>
            </IonCol>
            <IonCol size="2">
              {{ formatHoursSimple(item.created) }}
            </IonCol>
            <IonCol>
              <IonText>
                {{ limitText(item.reference) }}
              </IonText>
            </IonCol>
            <IonCol>
              <IonText>
                {{ item.receipt.amount }}
                {{ item.receipt.currency.code }}
              </IonText>
            </IonCol>
            <IonCol size="2">
              <IonIcon
                :icon="people"
                color="secondary"
                @click="showUserOfBill(item.listUsersPaid)"
              ></IonIcon>
            </IonCol>
          </IonRow>
        </IonGrid>
      </IonLabel>
    </IonItem>
  </IonGrid>
</template>

<script setup lang="ts">
import {
  IonGrid,
  IonRow,
  IonCol,
  IonIcon,
  IonLabel,
  IonItem,
  IonText,
} from "@ionic/vue";
import { eye, people } from "ionicons/icons";
import { Ref, ref } from "vue";

import { useRouter } from "vue-router";

import { BillDTO } from "@/arq_hex/settle/_domain/dto/BillDTO";
import {
  formatDateSimple,
  formatHoursSimple,
} from "@/arq_hex/_utils/UtilsDate";
import { limitTextGral } from "@/arq_hex/_utils/UtilsString";
import { PaymentContainer } from "@/arq_hex/settle/_domain/dto/PaymentContainerDTO";
import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";

const router = useRouter();

const props = defineProps<{
  listBill: BillDTO[];
}>();

// Attributes
const path_bill_add = "bill-add";

//Methods
function limitText(text: string): string {
  return limitTextGral(text, 7);
}

const initMapBill = () => {
  const mapBill = new Map<string, BillDTO[]>();

  for (const bill of props.listBill) {
    const dateCreated = formatDateSimple(bill.created);
    const listBill = mapBill.get(dateCreated);
    if (listBill) {
      listBill.push(bill);
    } else {
      const list = new Array<BillDTO>();
      list.push(bill);
      mapBill.set(dateCreated, list);
    }
  }

  return mapBill;
};
const mapBillHome: Ref<Map<string, BillDTO[]>> = ref(initMapBill());

//Methods
const goToBillUpdate = (idBill: string) => {
  router.push(path_bill_add + "/" + idBill);
};

const showUserOfBill = async (listPaidSelected: Array<PaymentContainer>) => {
  const listPaid: string[] = new Array<string>();
  const mapDebt = new Map<string, string>();
  for (const paid of listPaidSelected) {
    listPaid.push(paid.userPaid.user.name);
    for (const d of paid.listUsersDebt) {
      mapDebt.set(d.user.name, ""); //Agrego los deudores
    }
  }
  for (const name of listPaid) {
    mapDebt.delete(name); //Elimino los pagadores
  }

  //Muestro lista de usuarios en el pago
  await AlertsUtil.userPaidAlert(listPaid, Array.from(mapDebt.keys()));
};
</script>

<style scoped>
ion-col {
  color: secondary;
  text-align: center;
}
</style>
