<template>
  <IonItem
    class="ion-no-padding ion-no-margin"
    v-for="(itemPaid, index) in props.mapCheck"
    :key="index"
  >
    <ion-thumbnail slot="start">
      <IonLabel>
        <p>{{ itemPaid[0] }}</p>
      </IonLabel>
    </ion-thumbnail>
    <IonLabel class="ion-no-padding ion-no-margin">
      <IonItem
        class="ion-no-padding ion-no-margin"
        lines="none"
        v-for="(elem, indexReceipt) in itemPaid[1]"
        :key="indexReceipt"
      >
        <IonText slot="end" class="ion-padding-right ion-no-margin">
          <p>{{ formatNumberTwoDecimals(elem[1]) }} - ({{ elem[0] }})</p>
        </IonText>
      </IonItem>
    </IonLabel>
  </IonItem>
</template>
<script setup lang="ts">
import { IonItem, IonLabel, IonThumbnail, IonText } from "@ionic/vue";

import { formatNumberTwoDecimals } from "@/arq_hex/_utils/UtilsNumber";

const props = defineProps<{
  mapCheck: Map<string, Map<string, number>>;
}>();
</script>
<style scoped>
ion-thumbnail {
  --size: 40%;
}
</style>
