<template>
  <IonButton fill="clear" @click="showModal = true">Usuarios</IonButton>

  <ModalPaidUsers
    v-if="showModal"
    :is-meet-active="isMeetActive"
    :title="titleModal"
    :path_user_add="path_user_add"
    :total-amount="props.totalAmount"
    :selectedItems="selectedItems"
    @confirm-btn="confirmItemsSelected($event)"
    @cancel-btn="cerrarModal()"
  ></ModalPaidUsers>
</template>

<script setup lang="ts">
import { IonButton } from "@ionic/vue";
import { Ref, ref } from "vue";

import ModalPaidUsers from "./modal/ModalPaidUsers.vue";
import { PaymentContainer } from "@/arq_hex/settle/_domain/dto/PaymentContainerDTO";

// Genera eventos hacia el padre
const emit = defineEmits(["setUsersPaid"]);

const props = defineProps<{
  isMeetActive: boolean;
  totalAmount: number;
  listUsersPaid: Array<PaymentContainer>;
}>();

const path_user_add = "user-add";
const titleModal = "Pagadores";

const selectedItems: Ref<PaymentContainer[]> = ref([...props.listUsersPaid]);

const showModal = ref(false);

//Methods
const cerrarModal = () => {
  showModal.value = false;
};

const confirmItemsSelected = (items: Array<PaymentContainer>) => {
  cerrarModal();
  emit("setUsersPaid", items);
};
</script>
