<template>
  <IonButton fill="clear" @click="showModal = true">Usuarios</IonButton>
  <ModalDebtdUsers
    v-if="showModal"
    :is-meet-active="isMeetActive"
    :title="titleModal"
    :path_user_add="path_user_add"
    :total-amount="props.totalAmount"
    :source-items="totalItems"
    :paid-items="paidItems"
    :selected-items="debtItems"
    @confirm-btn="confirmItemsSelected($event)"
    @cancel-btn="cerrarModal()"
  ></ModalDebtdUsers>
</template>

<script setup lang="ts">
import { IonButton } from "@ionic/vue";
import { Ref, onMounted, ref } from "vue";

import ModalDebtdUsers from "./modal/ModalDebtUsers.vue";

import { IPortUser } from "@/arq_hex/gral/_ports/IPortUser";
import { UserAdapter } from "@/arq_hex/gral/_adapters/UserAdapter";

import { PaymentContainer } from "@/arq_hex/settle/_domain/dto/PaymentContainerDTO";
import { Payment } from "@/arq_hex/settle/_domain/dto/Payment";
import { UserDTO } from "@/arq_hex/gral/_domain/dto/UserDTO";

// Genera eventos hacia el padre
const emit = defineEmits(["setUsersDebt"]);

const props = defineProps<{
  isMeetActive: boolean;
  totalAmount: number;
  listUsersPaid: Array<PaymentContainer>;
  listUserDebt: Array<Payment>;
}>();

const path_user_add = "user-add";

const userCtrl: IPortUser = UserAdapter.getInstance();
const titleModal = "Deudores";

const listUserStore: Ref<UserDTO[]> = ref(userCtrl.getListUser());
const totalItems: Ref<Payment[]> = ref([]);
const paidItems: Ref<Payment[]> = ref([]);
const debtItems: Ref<Payment[]> = ref([]);

//Mostrar el modal
const showModal = ref(false);

//Methods
function initListUserItems() {
  totalItems.value = new Array<Payment>();
  paidItems.value = new Array<Payment>();
  debtItems.value = new Array<Payment>();

  for (const user of props.listUsersPaid) {
    // Pagó
    paidItems.value.push(user.userPaid);
  }
  //Carg lista de deudores y itemsTotal
  let iterm: Payment;
  for (const iter of listUserStore.value) {
    iterm = {
      amount: 0,
      user: iter,
    };
    //Deudores
    const debtUser = props.listUserDebt.find(
      (d) => d.user.name === iter.name
    );
    if (debtUser) {
      //Tomo el monto del deudor ya ingresado
      iterm.amount = debtUser.amount;
      debtItems.value.push(iterm);
    }
    totalItems.value.push(iterm);
  }

  return totalItems;
}

const cerrarModal = () => {
  showModal.value = false;
};

const confirmItemsSelected = (items: Payment[]) => {
  cerrarModal();
  emit("setUsersDebt", items);
};

onMounted(async () => {
  initListUserItems();
});
</script>
