<template>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="secondary" class="button-transparent" size="small">
      <IonIcon :icon="chevronDownCircle"></IonIcon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button :router-link="path_list_meet">
        <IonIcon
          :icon="pizzaOutline"
          aria-label="Encuentro"
          color="secondary"
        ></IonIcon>
      </ion-fab-button>
      <ion-fab-button :router-link="path_list_user">
        <IonIcon
          :icon="person"
          aria-label="Usuarios"
          color="secondary"
        ></IonIcon>
      </ion-fab-button>
      <ion-fab-button :router-link="path_list_currency">
        <IonIcon
          aria-label="Monedas"
          :icon="cashOutline"
          color="secondary"
        ></IonIcon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <IonItem>
    <ion-label>
      <IonText color="secondary">Encuentro:</IonText>
      {{ props.meetName }}
    </ion-label>
  </IonItem>
</template>

<script setup lang="ts">
import {
  chevronDownCircle,
  person,
  pizzaOutline,
  cashOutline,
} from "ionicons/icons";
import {
  IonItem,
  IonLabel,
  IonFab,
  IonFabButton,
  IonFabList,
  IonIcon,
  IonText,
} from "@ionic/vue";

// Propiedades
const props = defineProps<{
  meetName: string | undefined;
}>();

const path_list_meet = "meet-list";
const path_list_user = "user-list";
const path_list_currency = "/currency-list";
</script>

<style scoped>
@import "@/assets/button-transparent.css";
</style>
