<template>
  <IonPage>
    <HeaderApp></HeaderApp>
    <IonContent class="ion-padding" :fullscreen="true">
      <IonItem>
        <IonText color="secondary"><strong>Encuentro: </strong></IonText>
        {{ meetName }}
      </IonItem>

      <!-- Selector de currency -->
      <IonItem> Lista monedas </IonItem>
      <ion-grid v-if="listCurrency.length > 0" :fixed="true">
        <IonRow>
          <IonCol size="2">Ver</IonCol>
          <IonCol> Cod. </IonCol>
          <IonCol> Nomb. </IonCol>
          <IonCol> País </IonCol>
        </IonRow>
        <IonRow v-for="(item, index) in listCurrency" :key="index">
          <IonCol size="2">
            <IonIcon color="secondary" :icon="eye"></IonIcon>
          </IonCol>
          <IonCol>{{ item.code }}</IonCol>
          <IonCol>{{ item.name }}</IonCol>
          <IonCol>{{ item.country }}</IonCol>
        </IonRow>
      </ion-grid>

      <IonItem v-if="isMeetActive && listCurrencyServer.length > 0"> Total de monedas </IonItem>

      <ProgressBar :show-progress="showProgress"></ProgressBar>

      <IonItem lines="none" class="ion-no-padding">
        <IonList :inset="true">
          <IonItem v-for="(item, index) in listCurrencyServer" :key="index">
            <IonCheckbox
              aria-label="Currency: "
              :value="item"
              :checked="isChecked[index]"
              @ionChange="checkboxChange($event)"
            >
              {{ item.name }}-{{ item.country }}
            </IonCheckbox>
            <IonToggle
              class="ion-padding"
              slot="end"
              aria-label="Directo lista gastos"
              color="secondary"
              :checked="mainCurrency[index]"
              @click="changeMainCurrency(index)"
            >
            </IonToggle>
          </IonItem>
        </IonList>
      </IonItem>
      <IonItem
        lines="none"
        v-if="isMeetActive && listCurrencyServer.length > 0"
      >
        <IonIcon
          color="secondary"
          :icon="saveOutline"
          @click="saveCurrency()"
        ></IonIcon>
      </IonItem>

      <BtnGoBack></BtnGoBack>
    </IonContent>
  </IonPage>
</template>

<script setup lang="ts">
import { eye, saveOutline } from "ionicons/icons";
import {
  IonCol,
  IonGrid,
  IonRow,
  IonIcon,
  IonItem,
  IonList,
  IonCheckbox,
  onIonViewWillEnter,
  IonToggle,
  CheckboxCustomEvent,
  IonText,
} from "@ionic/vue";
import { Ref, ref } from "vue";

import ProgressBar from "@/components/gral/ProgressBar.vue";
import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import HeaderApp from "@/views/HeaderApp.vue";
import BtnGoBack from "@/components/gral/BtnGoBack.vue";
import MeetAdapter from "@/arq_hex/settle/_adapters/MeetAdapter";

import { ICurrencyPort } from "@/arq_hex/gral/_ports/ICurrencyPort";
import { CurrencyAdapter } from "@/arq_hex/gral/_adapters/CurrencyAdapter";
import { CurrencyDTO } from "@/arq_hex/gral/_domain/dto/CurrencyDTO";
import { useRouter } from "vue-router";
import { IPortMeet } from "@/arq_hex/settle/_ports/IPortMeet";
import { MeetDTO } from "@/arq_hex/settle/_domain/dto/MeetDTO";

const router = useRouter();

const meetCtrl: IPortMeet = MeetAdapter.getInstance();
const currencyCtrl: ICurrencyPort = CurrencyAdapter.getInstance();

// Attributes
const listCurrency: Ref<CurrencyDTO[]> = ref(currencyCtrl.getListCurrency());
const listCurrencyServer: Ref<CurrencyDTO[]> = ref([]);
const isChecked: Ref<boolean[]> = ref([]);
const mainCurrency: Ref<boolean[]> = ref([]);
const meetActive: Ref<MeetDTO | undefined> = ref(meetCtrl.getMeetActive());
const meetName: Ref<string> = ref(
  meetActive.value ? (meetActive.value.name as string) : ""
);
const isMeetActive: Ref<boolean> = ref(
  meetActive.value ? meetActive.value.active : false
);
const showProgress = ref(false);

//Methods
const checkboxChange = (ev: CheckboxCustomEvent) => {
  const { checked, value } = ev.detail;
  if (checked) {
    listCurrency.value.push(value as CurrencyDTO);
  } else {
    listCurrency.value = listCurrency.value.filter(
      (item) => item.code !== value.code
    );
  }
};

const changeMainCurrency = (index: number) => {
  mainCurrency.value = new Array<boolean>(listCurrencyServer.value.length).fill(
    false
  );
  mainCurrency.value[index] = true;
};

const saveCurrency = async () => {
  const index = mainCurrency.value.findIndex((i) => i); //Dado que es un arreglo de booleano, para con el primer true.
  const item = listCurrencyServer.value[index];
  const selected = listCurrency.value.find((c) => c.code === item.code);

  if (selected) {
    currencyCtrl.setDefaultCurrency(item);
    currencyCtrl.setListCurrency(listCurrency.value);
    router.back();
  } else {
    await AlertsUtil.confirmAlert(
      "Moneda principal debe pertenecer a las monedas seleccionadas."
    );
  }
};

onIonViewWillEnter(async () => {
  showProgress.value = true;

  meetActive.value = meetCtrl.getMeetActive();
  if (meetActive.value) {
    isMeetActive.value = meetActive.value.active;
    meetName.value = meetActive.value.name as string;
    //Solo se ejecuta si no se han cargado todas las monedas desde el servidor.
    listCurrencyServer.value = await currencyCtrl.getCurrencyAllFromServer();
    if (listCurrencyServer.value.length > 0) {
      //Inicializo cuales monedas ya estan cargadas y monda por defecto.
      isChecked.value = new Array<boolean>(
        listCurrencyServer.value.length
      ).fill(false);
      //Moneda por defecto.
      const defaultC = currencyCtrl.getDefaultCurrency();

      for (const index in listCurrencyServer.value) {
        for (const c of listCurrency.value) {
          const item = listCurrencyServer.value[index].code;
          if (c.code === item) {
            isChecked.value[index] = true;
          }
          if (item === defaultC.code) {
            mainCurrency.value[index] = true;
          } else {
            mainCurrency.value[index] = false;
          }
        }
      }
    }
  } else {
    console.log(
      "***ERROR***** onIonViewWillEnter CurrencyList",
      meetActive.value
    );

    AlertsUtil.toastNoMeetActive();
  }
  showProgress.value = false;
});
</script>
