<template>
  <IonPage>
    <HeaderApp></HeaderApp>
    <IonContent class="ion-padding" :fullscreen="true">
      <IonItem>
        <IonText color="secondary" style="padding-right: 5px;"><strong>Encuentro: </strong></IonText>
        {{ meetName }}
      </IonItem>

      <AddUserGral :name="name"></AddUserGral>

      <IonItem> Lista usuarios </IonItem>
      <ion-grid v-if="listUser.length > 0">
        <IonRow>
          <IonCol size="2">Ver</IonCol>
          <IonCol>Nomb.</IonCol>
          <IonCol size="2" v-if="isActive">Eli.</IonCol>
        </IonRow>
        <IonRow v-for="(item, index) in listUser" :key="index">
          <IonCol size="2">
            <IonIcon color="secondary" :icon="eye"></IonIcon>
          </IonCol>
          <IonCol>{{ item.name }}</IonCol>
          <IonCol size="2">
            <IonIcon
              v-if="isActive"
              color="secondary"
              :icon="removeCircleOutline"
              @click="deleteUserConfirm(item.name)"
            ></IonIcon>
          </IonCol>
        </IonRow>
      </ion-grid>

      <BtnGoBack></BtnGoBack>
    </IonContent>
  </IonPage>
</template>

<script setup lang="ts">
import { eye, removeCircleOutline } from "ionicons/icons";
import {
  onIonViewWillEnter,
  IonCol,
  IonGrid,
  IonRow,
  IonIcon,
  IonItem,
  IonText,
} from "@ionic/vue";
import { Ref, ref } from "vue";

import { IPortUser } from "@/arq_hex/gral/_ports/IPortUser";
import { UserAdapter } from "@/arq_hex/gral/_adapters/UserAdapter";
import { IPortMeet } from "@/arq_hex/settle/_ports/IPortMeet";

import HeaderApp from "@/views/HeaderApp.vue";
import BtnGoBack from "@/components/gral/BtnGoBack.vue";
import AddUserGral from "@/components/gral/AddUserGral.vue";
import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import MeetAdapter from "@/arq_hex/settle/_adapters/MeetAdapter";
import { MeetDTO } from "@/arq_hex/settle/_domain/dto/MeetDTO";

const meetCtrl: IPortMeet = MeetAdapter.getInstance();
const userCtrl: IPortUser = UserAdapter.getInstance();
const listUser = ref(userCtrl.getListUser());
const name = ref("");
const meetActive: Ref<MeetDTO | undefined> = ref(meetCtrl.getMeetActive());
const meetName: Ref<string> = ref(
  meetActive.value ? (meetActive.value.name as string) : ""
);
const isActive: Ref<boolean> = ref(
  meetActive.value ? meetActive.value.active : false
);

//Methods
const deleteUserConfirm = async (name: string) => {
  const isOk = await AlertsUtil.confirmCancelAlert(
    "Confirma borrar el usuario?",
    "Cancelar",
    "Eliminar"
  );
  if (isOk) {
    if (userCtrl.isUserLogin(name)) {
      AlertsUtil.toastMessage("Usuario autenticado, no se puede eliminar");
    } else {
      if (userCtrl.isUserInUse(name)) {
        AlertsUtil.toastMessage("Usuario en uso, no se puede eliminar");
      } else {
        userCtrl.removeUser(name);
      }
    }
  }
};

onIonViewWillEnter(() => {
  //Inicializo array header
  listUser.value = userCtrl.getListUser();

  meetActive.value = meetCtrl.getMeetActive();
  if (meetActive.value) {
    meetName.value = meetActive.value.name as string;
    isActive.value = meetActive.value.active;
  }
});
</script>
