<template>
  <IonItem>
    <IonInput
      label="Nombre: "
      placeholder="Nombre"
      v-model="nameUser"
      :clear-input="true"
    ></IonInput>
  </IonItem>

  <IonItem lines="none">
    <IonButton
      :disabled="!isMeetActive"
      slot="end"
      size="small"
      shape="round"
      color="secondary"
      @click="createUser()"
      >Agregar</IonButton
    >
  </IonItem>
</template>

<script setup lang="ts">
import { IonItem, IonButton, IonInput, onIonViewWillEnter } from "@ionic/vue";
import { Ref, ref } from "vue";

import { IPortUser } from "@/arq_hex/gral/_ports/IPortUser";
import { UserAdapter } from "@/arq_hex/gral/_adapters/UserAdapter";
import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import MeetAdapter from "@/arq_hex/settle/_adapters/MeetAdapter";
import { IPortMeet } from "@/arq_hex/settle/_ports/IPortMeet";
import { MeetDTO } from "@/arq_hex/settle/_domain/dto/MeetDTO";

const meetCtrl: IPortMeet = MeetAdapter.getInstance();
const userCtrl: IPortUser = UserAdapter.getInstance();

const props = defineProps<{
  name: string;
}>();

// Attributes
const nameUser = ref(props.name);
const meetActive: Ref<MeetDTO | undefined> = ref(meetCtrl.getMeetActive());
const isMeetActive: Ref<boolean> = ref(
  meetActive.value ? meetActive.value.active : false
);

// Methods
const createUser = async () => {
  if (!nameUser.value) {
    AlertsUtil.confirmAlert("Nombre es obligatorio!");
    return;
  }
  const user = userCtrl.getUserByName(nameUser.value);
  if (user) {
    AlertsUtil.confirmAlert("Ya existe el usuario!");
    return;
  }
  if (nameUser.value && !user) {
    userCtrl.createUser(nameUser.value);
    nameUser.value = "";
  }
};

onIonViewWillEnter(() => {
  meetActive.value = meetCtrl.getMeetActive();
  if (meetActive.value) {
    isMeetActive.value = meetActive.value.active;
  } else {
    console.log(
      "***ERROR***** onIonViewWillEnter AddUserGral",
      meetActive.value
    );

    AlertsUtil.toastNoMeetActive();
  }
});
</script>

<style scoped></style>
