<template>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button
      color="secondary"
      @click="router.back()"
      class="button-transparent"
      size="small"
    >
      <IonIcon :icon="arrowBackOutline"></IonIcon>
    </ion-fab-button>
  </ion-fab>
</template>

<script setup lang="ts">
import { arrowBackOutline } from "ionicons/icons";
import { IonFab, IonFabButton, IonIcon } from "@ionic/vue";
import { useRouter } from "vue-router";

const router = useRouter();
</script>

<style scoped>
@import "@/assets/button-transparent.css";
</style>
