<template>
  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    style="smargin-top: -10px; margin-right: -10px"
  >
    <ion-fab-button
      color="secondary"
      @click="emitEvent()"
      class="button-transparent"
      size="small"
    >
      <IonIcon :icon="arrowBackOutline"></IonIcon>
    </ion-fab-button>
  </ion-fab>
</template>

<script setup lang="ts">
import { arrowBackOutline } from "ionicons/icons";
import { IonFab, IonFabButton, IonIcon } from "@ionic/vue";

const emit = defineEmits(["btnBack"]);

const emitEvent = () => {
  emit("btnBack");
};
</script>
<style scoped>
@import "@/assets/button-transparent.css";
</style>
