<template>
    <ion-fab slot="fixed" vertical="bottom" horizontal="start" style=" Smargin-top: -10px; margin-right: -10px;">
        <ion-fab-button class="button-transparent" size="small" @click="goToUserAdd()">
            <IonIcon :icon="personAddOutline"></IonIcon>
        </ion-fab-button>
    </ion-fab>
</template>

<script setup lang="ts">
import { personAddOutline } from 'ionicons/icons';
import { IonFab, IonFabButton, IonIcon } from '@ionic/vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const emit = defineEmits(['confirmBtn']);

const goToUserAdd = () => {
    emit('confirmBtn');
    router.push("/settle/main/user-list");
}
</script>

<style scoped>
@import "@/assets/button-transparent.css";
</style>