<template>
  <IonProgressBar
    v-if="props.showProgress"
    type="indeterminate"
  ></IonProgressBar>
</template>

<script setup lang="ts">
import { IonProgressBar } from "@ionic/vue";

const props = defineProps<{
  showProgress: boolean;
}>();
</script>

<style scoped></style>
