<template>
  <ion-select
    justify="end"
    @ionChange="selectedCurrency"
    :selectedText="currency.code"
  >
    <ion-select-option
      v-for="(item, index) in listCurrency"
      :key="index"
      :value="item"
    >
      {{ item.code }} - {{ item.name }}
    </ion-select-option>
  </ion-select>
</template>

<script setup lang="ts">
import { Ref, ref } from "vue";
import { IonSelect, IonSelectOption, onIonViewWillEnter } from "@ionic/vue";

import { ICurrencyPort } from "@/arq_hex/gral/_ports/ICurrencyPort";

import { CurrencyAdapter } from "@/arq_hex/gral/_adapters/CurrencyAdapter";
import { CurrencyDTO } from "@/arq_hex/gral/_domain/dto/CurrencyDTO";

const props = defineProps<{
  defaultCurrency: CurrencyDTO;
}>();
const emit = defineEmits(["setCurrency"]);

const currencyCtrl: ICurrencyPort = CurrencyAdapter.getInstance();

const listCurrency: Ref<CurrencyDTO[]> = ref(currencyCtrl.getListCurrency());
const currency: Ref<CurrencyDTO> = ref(props.defaultCurrency);

//Methods
const selectedCurrency = (v: any) => {
  currency.value = v.detail.value as CurrencyDTO;
  emit("setCurrency", currency.value);
};

onIonViewWillEnter(() => {
  currency.value = props.defaultCurrency;
  listCurrency.value = currencyCtrl.getListCurrency();
});
</script>
