<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Hache</title>

    <base href="/" />

    <meta name="color-scheme" content="light dark" />
    <meta name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>assets/icon/favicon.svg" />

    <!-- add to homescreen for ios -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Hache Zeta" />
    <meta name="apple-mobile-web-app-status-bar-style" content="dark" />
    <meta name="color-scheme" content="dark" />

    <style type="text/css">
      body::after {
        content: "";
        background: url('./assets/icon/fondo.png');
        background-size: contain;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
    </style>

  </head>

  <body>
    <div id="app"></div>
  </body>

</html>