<template>
  <ion-header :translucent="true">
    <IonToolbar>
      <IonLabel
        v-once
        class="ion-padding-horizontal ion-padding-top"
        slot="start"
      >
        <IonText color="secondary" @click="goToHome">
          <h1>Hache</h1>
        </IonText>
        <IonText class="ion-no-padding ion-no-margin">
          <h6>{{ userLoged }}</h6>
        </IonText>
      </IonLabel>
      <IonLabel
        v-once
        class="ion-padding-horizontal ion-padding-top"
        slot="end"
      >
        <IonText color="secondary" @click="openModalSettings">
          <IonIcon size="large" :icon="menuOutline"></IonIcon>
        </IonText>
        <IonText class="ion-no-padding ion-no-margin">
          <h6>{{ currentTime }}</h6>
        </IonText>
      </IonLabel>
    </IonToolbar>
  </ion-header>

  <ModalSettingApp
    v-if="showSettingApp"
    @cancel-btn="cerrarModalSettings"
  ></ModalSettingApp>
</template>

<script setup lang="ts">
import { menuOutline } from "ionicons/icons";
import { IonToolbar, IonHeader, IonLabel, IonText } from "@ionic/vue";
import { Ref, onBeforeUnmount, ref } from "vue";

import ModalSettingApp from "@/views/gral/modal/ModalSettingApp.vue";
import { useUserLoginStore } from "@/arq_hex/gral/_domain/store/UserLoginStore";
import { formatDateFullShort } from "@/arq_hex/_utils/UtilsDate";
import { useRouter } from "vue-router";

const router = useRouter();

//Attributes
const path_home = "/home";
const currentTime: Ref<string> = ref(formatDateFullShort());
const userLoged: Ref<string | undefined> = ref(
  useUserLoginStore().userStore.name
);
const showSettingApp = ref(false);

//Methods
const cerrarModalSettings = () => {
  showSettingApp.value = false;
};

const openModalSettings = () => {
  if (useUserLoginStore().userStore.name) {
    showSettingApp.value = true;
  }
};

const goToHome = () => {
  router.push(path_home);
};

//Actualizo cada un minuto.
const updateCurrentTime = () => {
  currentTime.value = formatDateFullShort();
};

//Repite para siempre
const updateTimeInterval = setInterval(updateCurrentTime, 60000);

// Lo apago cuando el componente se desmonta.
onBeforeUnmount(() => {
  clearInterval(updateTimeInterval);
});
</script>

<style scoped>
ion-toolbar {
  --opacity: 0.5;
}

</style>
