<template>
  <IonPage>
    <HeaderApp></HeaderApp>
    <IonContent :fullscreen="true">
      <NewsCard></NewsCard>
      <SettleCard @click="goToListMeet()"></SettleCard>
      <ModalUsersLogin
        v-if="showModalLogin"
        @cancel-btn="cancel()"
        @confirm-btn="confirm($event)"
      ></ModalUsersLogin>
    </IonContent>
  </IonPage>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { useRouter } from "vue-router";

import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import HeaderApp from "@/views/HeaderApp.vue";
import SettleCard from "@/components/settle/cards/SettleCard.vue";
import NewsCard from "@/components/settle/cards/NewsCard.vue";
import ModalUsersLogin from "@/views/gral/modal/ModalUsersLogin.vue";

import { useUserLoginStore } from "@/arq_hex/gral/_domain/store/UserLoginStore";
import { UserLogin } from "@/arq_hex/gral/_domain/dto/UserLogin";
import { ErrorDto } from "@/arq_hex/gral/_domain/dto/ErrorDto";
import { onIonViewWillEnter } from "@ionic/vue";

const router = useRouter();
const path_list_meet = "/settle/main/meet-list";

// Attributes
const showModalLogin = ref(false);

//Methods
const goToListMeet = async () => {
  if (useUserLoginStore().userStore.email) {
    await router.push(path_list_meet);
  } else {
    showModalLogin.value = true;
  }
};

const checkResultServer = async (resultServer: UserLogin | ErrorDto) => {
  const user: UserLogin = resultServer as UserLogin;

  //Si hay mail porque el login o registro fue exitoso sino es un mensaje de error.
  if (user.email) {
    //Inicializo las estructuras para el usuario.
    useUserLoginStore().chargeListMeetFromUser(user);
    useUserLoginStore().setUserLoginToStore(user);

    await router.push(path_list_meet);
    //Saco el cuadro de login.
    showModalLogin.value = false;
  } else {
    //Saco el cuadro de login.
    showModalLogin.value = false;

    //NOTA: Debe cerrarse el modal antes de mostrar el dialogo de error.

    const error: ErrorDto = resultServer as ErrorDto;
    //await AlertsUtil.confirmAlert(error.message as string);
    AlertsUtil.toastMessage(error.message as string);
  }
};

const cancel = () => {
  showModalLogin.value = false;
};

const confirm = async (userInput: UserLogin) => {
  let result;
  //NOTA: Si es un Guest es tomado como un registro, si ingresó el nombre es un nuevo registro.
  if (userInput.isGuest || userInput.name) {
    //Register
    result = await useUserLoginStore().registerUserServer(userInput);
  } else {
    //Si no es un Guest y no tiene nombre es un login.
    //Login
    result = await useUserLoginStore().loginUserServer(userInput);
  }

  //Evaluo si es un error o exitoso.
  checkResultServer(result);
};

onIonViewWillEnter(() => {
  useUserLoginStore().cleanListAssociateToUserLogin();
});
</script>

<style scoped>
</style>
