<template>
  <IonPage>
    <IonContent :fullscreen="true">
      <ModalUsersLogin
        :user-login="useUserLoginStore().userStore"
      ></ModalUsersLogin>
    </IonContent>
  </IonPage>
</template>

<script setup lang="ts">
import { IonContent } from "@ionic/vue";

import { useUserLoginStore } from "@/arq_hex/gral/_domain/store/UserLoginStore";
import ModalUsersLogin from "@/views/gral/modal/ModalUsersLogin.vue";
</script>
<style scoped></style>
