<template>
  <Teleport to="body">
    <div class="overlay">
      <div class="pop-up">
        <IonPage>
          <IonContent class="ion-padding" :fullscreen="true">
            <IonList>
              <IonItem>
                <h4 style="margin: auto">
                  <IonText color="secondary"> Setttings </IonText>
                </h4>
              </IonItem>

              <IonItem lines="none">
                <IonText color="secondary" @click="confirmLogOut">
                  <strong>LogOut</strong>
                </IonText>
              </IonItem>
            </IonList>

            <BtnGoBackEvent @btn-back="cerrar()"></BtnGoBackEvent>
          </IonContent>
          <IonFooter>
            <IonToolbar>
              <IonTitle style="text-align: center">
                <IonText color="secondary">
                  <h6>Version: 1.0.1</h6>
                </IonText>
              </IonTitle>
            </IonToolbar>
          </IonFooter>
        </IonPage>
      </div>
    </div>
  </Teleport>
</template>

<script setup lang="ts">
import {
  IonContent,
  IonFooter,
  IonItem,
  IonList,
  IonText,
  IonToolbar,
  IonTitle,
} from "@ionic/vue";

import { useRouter } from "vue-router";

import BtnGoBackEvent from "@/components/gral/BtnGoBackEvent.vue";
import { useUserLoginStore } from "@/arq_hex/gral/_domain/store/UserLoginStore";

const emit = defineEmits(["cancelBtn"]);

// Attributes
const path_home = "/home";
const router = useRouter();

//Methods
const confirmLogOut = () => {
  useUserLoginStore().resetUserLogin();
  useUserLoginStore().cleanListAssociateToUserLogin();

  //Verifico si quedó sin actualizar el estado actual del encuentro en el servidor
  //meetCtrl.saveCurrentStateUserLogin();

  // Cierro el Modal y voy al home.
  router.push(path_home);
  cerrar();
};

const cerrar = () => {
  emit("cancelBtn");
};
</script>

<style scoped>
@import "@/assets/modal.css";
</style>
