<template>
  <Teleport to="body">
    <div class="overlay">
      <div class="pop-up">
        <IonPage>
          <IonContent class="ion-padding" :fullscreen="true">
            <IonList>
              <IonItem>
                <h4 style="margin: auto">
                  <IonText color="secondary"> Agregar Encuentro </IonText>
                </h4>
              </IonItem>

              <ProgressBar :show-progress="showProgress"></ProgressBar>

              <IonItem>
                <IonItem lines="none">
                  <IonInput
                    class="ion-no-padding ion-no-margin"
                    :clear-input="true"
                    placeholder="Identificador encuentro"
                    v-model="idMeetSearch"
                  ></IonInput>
                </IonItem>
                <IonIcon
                  class="ion-no-padding ion-no-margin"
                  slot="end"
                  color="secondary"
                  :icon="searchCircleOutline"
                  @click="confirmSearchMeet"
                ></IonIcon>
              </IonItem>
            </IonList>

            <DetailsMeet
              v-if="showDetailsMeet"
              :name="meet.name"
              :created="meet.created"
              :updated="meet.updated"
              :active="meet.active"
              :id-meet="meet.idMeet"
            ></DetailsMeet>

            <IonList>
              <IonItem lines="none">
                <IonButton
                  v-if="showDetailsMeet"
                  slot="end"
                  color="secondary"
                  size="small"
                  shape="round"
                  @click="confirmAddMeetToUser()"
                >
                  Confirmar
                </IonButton>
              </IonItem>
            </IonList>

            <BtnGoBackEvent @btn-back="cerrar()"></BtnGoBackEvent>
          </IonContent>
        </IonPage>
      </div>
    </div>
  </Teleport>
</template>

<script setup lang="ts">
import { searchCircleOutline } from "ionicons/icons";
import {
  IonContent,
  IonItem,
  IonList,
  IonText,
  IonInput,
  IonIcon,
  IonButton,
} from "@ionic/vue";
import { Ref, ref } from "vue";

import BtnGoBackEvent from "@/components/gral/BtnGoBackEvent.vue";
import ProgressBar from "@/components/gral/ProgressBar.vue";
import DetailsMeet from "@/components/settle/DetailsMeet.vue";
import { MeetDTO } from "@/arq_hex/settle/_domain/dto/MeetDTO";
import { IPortMeet } from "@/arq_hex/settle/_ports/IPortMeet";
import MeetAdapter from "@/arq_hex/settle/_adapters/MeetAdapter";
import { getUniqUuid } from "@/arq_hex/_utils/UtilsNumber";

const emit = defineEmits(["cancelBtn", "confirmBtn"]);

const meetCtrl: IPortMeet = MeetAdapter.getInstance();

// Attributes
const idMeetSearch = ref("");
const showDetailsMeet = ref(false);
const meet: Ref<MeetDTO> = ref(new MeetDTO());
const showProgress = ref(false);

//Methods
const confirmSearchMeet = async () => {
  showProgress.value = true;
  await meetCtrl
    .selectMeetToAddFromServer(idMeetSearch.value)
    .then((response) => {
      const meetFromServer = response as MeetDTO;
      if (meetFromServer.idMeet) {
        showDetailsMeet.value = true;
        meet.value = meetFromServer;
        //Creo un nuevo identificador al encuentro para que no se repita en la base
        meet.value.idMeet = getUniqUuid();
        meetCtrl.updateMeet(meet.value);
        cerrar();
      }
    });

  showProgress.value = false;
};

const confirmAddMeetToUser = () => {
  // Cierro el Modal y voy al home.
  cerrar();
};

const cerrar = () => {
  emit("cancelBtn");
};
</script>

<style scoped>
@import "@/assets/modal.css";
</style>
