<template>
  <Teleport to="body">
    <div class="overlay">
      <div class="pop-up">
        <IonPage>
          <IonContent class="ion-padding" :fullscreen="true">
            <ProgressBar :show-progress="showProgress"></ProgressBar>

            <IonList>
              <IonItem v-if="register">
                <h4 style="margin: auto">
                  <IonText color="secondary"> Register </IonText>
                </h4>
              </IonItem>
              <IonItem v-else>
                <h4 style="margin: auto">
                  <IonText color="secondary"> Login </IonText>
                </h4>
              </IonItem>
              <IonItem lines="inset">
                <IonInput
                  type="email"
                  :clear-input="true"
                  label="Email: "
                  placeholder="email@domain.com"
                  v-model="email"
                  required
                ></IonInput>
                <IonText v-if="showErrorEmail" slot="end">
                  <IonIcon color="danger" :icon="mailOutline"></IonIcon>
                </IonText>
                <IonText v-if="!showErrorEmail && email" slot="end">
                  <IonIcon color="secondary" :icon="mailOutline"></IonIcon>
                </IonText>
              </IonItem>
              <IonItem v-if="register" lines="inset">
                <IonInput
                  :clear-input="true"
                  label="Nombre: "
                  placeholder="Nombre"
                  v-model="name"
                  required
                ></IonInput>
              </IonItem>
              <IonItem lines="inset">
                <IonInput
                  :clear-input="true"
                  type="password"
                  label="Password: "
                  placeholder="min 8 caracters"
                  v-model="password"
                  required
                ></IonInput>
              </IonItem>
              <IonItem v-if="register" lines="inset">
                <IonInput
                  :clear-input="true"
                  type="password"
                  label="Password(r): "
                  v-model="passwordRepeat"
                  required
                ></IonInput>
              </IonItem>
              <IonRow>
                <IonCol>
                  <IonButton
                    :disabled="!passControlLogin"
                    @click="confirm()"
                    color="secondary"
                    expand="block"
                  >
                    Sign Up
                  </IonButton>
                </IonCol>
              </IonRow>
              <IonRow>
                <IonCol>
                  <IonText
                    v-if="register"
                    @click="register = false"
                    color="secondary"
                  >
                    <div style="text-align: right">
                      <strong>Login</strong>
                    </div>
                  </IonText>
                  <IonText v-else @click="register = true" color="secondary">
                    <div style="text-align: right">
                      <strong>Registrar</strong>
                    </div>
                  </IonText>
                </IonCol>
              </IonRow>
              <IonRow>
                <IonCol>
                  <IonText>
                    <h6>
                      Entrar como usuario invitado, al salir se perderan los
                      datos.
                      <IonText color="secondary" @click="confirmGuest">
                        <strong>Invitado</strong>
                      </IonText>
                    </h6>
                  </IonText>
                </IonCol>
              </IonRow>
            </IonList>

            <TemporalWarningCard></TemporalWarningCard>

            <BtnGoBackEvent @btn-back="cancel()"></BtnGoBackEvent>
          </IonContent>
        </IonPage>
      </div>
    </div>
  </Teleport>
</template>

<script setup lang="ts">
import { mailOutline } from "ionicons/icons";
import {
  IonContent,
  IonButton,
  IonInput,
  IonItem,
  IonList,
  IonRow,
  IonCol,
  IonText,
  IonIcon,
} from "@ionic/vue";

import { computed, ref, watch } from "vue";

import TemporalWarningCard from "@/components/settle/cards/TemporalWarningCard.vue";
import BtnGoBackEvent from "@/components/gral/BtnGoBackEvent.vue";
import ProgressBar from "@/components/gral/ProgressBar.vue";
import { UserLogin } from "@/arq_hex/gral/_domain/dto/UserLogin";
import {
  formatDateFullTogether,
  formatDateSimpleShortTogether,
} from "@/arq_hex/_utils/UtilsDate";

const emit = defineEmits(["cancelBtn", "confirmBtn"]);

// Attributes
const email = ref("");
const name = ref("");
const password = ref("");
const passwordRepeat = ref("");
const register = ref(false);
const showErrorEmail = ref(false);
const showProgress = ref(false);

//Computed
const passControlLogin = computed(() => {
  return (
    email.value.trim() &&
    password.value.trim().length >= 8 &&
    (!register.value ||
      (name.value.trim() && password.value === passwordRepeat.value))
  );
});

//Watch
function validateEmail(email: string) {
  return email.match(
    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  );
}
watch(email, () => {
  showErrorEmail.value = validateEmail(email.value) ? false : true;
});

//Methods
const cancel = () => {
  emit("cancelBtn");
};

const confirmGuest = () => {
  showProgress.value = true;
  const user: UserLogin = {
    email: `${formatDateFullTogether()}@guest.com`,
    name: `Guest-${formatDateSimpleShortTogether()}`,
    password: "12345678",
    isGuest: true,
  };
  emit("confirmBtn", user);
};

const confirm = async () => {
  showProgress.value = true;
  const user: UserLogin = {
    email: email.value,
    name: register.value ? name.value : undefined,
    password: password.value,
    isGuest: false,
  };
  emit("confirmBtn", user);
};
</script>

<style scoped>
@import "@/assets/modal.css";
</style>
