<template>
  <Teleport to="body">
    <div class="overlay" v-if="showModal">
      <div class="pop-up">
        <IonPage>
          <IonHeader>
            <ion-toolbar>
              <ion-searchbar
                class="ion-no-padding"
                @ionInput="searchbarInput($event)"
              ></ion-searchbar>
            </ion-toolbar>
          </IonHeader>

          <IonContent class="ion-padding">
            <IonItem>
              <strong>{{ props.title }}</strong>
            </IonItem>
            <ion-label>
              <IonText>Monto: {{ props.totalAmount }}</IonText>
            </ion-label>

            <ion-list style="margin-bottom: 50%; margin: auto; width: 100%">
              <IonItem
                lines="none"
                style="margin: 0px"
                v-for="(item, index) in itemsTotal"
                :key="index"
                :color="listColorPaid[index] ? 'secondary' : 'none'"
              >
                <ion-label
                  :key="reloadAmount"
                  style="margin-right: 10px; text-align: left"
                >
                  <IonText>
                    {{ formatNumberTwoDecimals(item.amount) }}
                  </IonText>
                </ion-label>
                <ion-checkbox
                  style="margin: 0px"
                  aria-label="User: "
                  slot="end"
                  :value="item"
                  :checked="listCheck[index]"
                  @ionChange="checkboxChange($event, index)"
                  ><IonText>{{ item.user.name }}</IonText></ion-checkbox
                >
              </IonItem>
            </ion-list>
            <IonFooter>
              <ion-toolbar>
                <IonButton
                  slot="start"
                  @click="cancel()"
                  size="small"
                  shape="round"
                  color="secondary"
                  >Cancelar</IonButton
                >
                <IonButton
                  class="ion-no-margin"
                  :disabled="!props.isMeetActive"
                  slot="end"
                  @click="confirm()"
                  size="small"
                  shape="round"
                  color="secondary"
                  >Aceptar</IonButton
                >
              </ion-toolbar>
            </IonFooter>

            <BtnGoBackEvent @btn-back="cancel()"></BtnGoBackEvent>
          </IonContent>
        </IonPage>
      </div>
    </div>
  </Teleport>
</template>

<script setup lang="ts">
import {
  IonButton,
  IonCheckbox,
  IonContent,
  IonHeader,
  IonFooter,
  IonItem,
  IonList,
  IonSearchbar,
  IonToolbar,
  SearchbarCustomEvent,
  CheckboxCustomEvent,
  IonLabel,
  IonText,
} from "@ionic/vue";
import { Ref, onMounted, ref } from "vue";

import BtnGoBackEvent from "@/components/gral/BtnGoBackEvent.vue";
import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import { Payment } from "@/arq_hex/settle/_domain/dto/Payment";
import { formatNumberTwoDecimals } from "@/arq_hex/_utils/UtilsNumber";

const emit = defineEmits(["cancelBtn", "confirmBtn"]);

const props = defineProps<{
  isMeetActive: boolean;
  title: string;
  path_user_add: string;
  totalAmount: number;
  sourceItems: Payment[];
  paidItems: Payment[];
  selectedItems: Payment[];
}>();

const itemsTotal: Ref<Payment[]> = ref([...props.sourceItems]);
let workingSelectedValues = [...props.selectedItems]; // Inicializa los items seleccionados
const listCheck: Ref<boolean[]> = ref([]); //Lista de usarios seleccionados, defectos=todos.
const listColorPaid: Ref<boolean[]> = ref([]); //Lista para identificar en color quien pagó
const showModal = ref(true);
const reloadAmount = ref(0);

//Methods
const initDefaultValue = () => {
  listCheck.value = new Array<boolean>(props.sourceItems.length);
  listColorPaid.value = new Array<boolean>(props.sourceItems.length);

  //Recorro por indice no por elementos (in)
  for (const index in itemsTotal.value) {
    const user = itemsTotal.value[index].user;
    // Verify users who paid
    const itemPaid = props.paidItems.find((p) => p.user.name === user.name);
    if (itemPaid) {
      listColorPaid.value[index] = true;
    } else {
      listColorPaid.value[index] = false;
    }
    //Marco checked solo los items seleccionados.
    //Sirve para cuando ya seleccioné y estoy editando.
    const selected = workingSelectedValues.find(
      (ch) => ch.user.name === user.name
    );
    if (selected) {
      listCheck.value[index] = true;
    } else {
      listCheck.value[index] = false;
    }
  }
};

const calculateAmountUser = () => {
  const amountPartial = props.totalAmount / workingSelectedValues.length;

  for (const iter of itemsTotal.value) {
    const itemSelect = workingSelectedValues.find(
      (i) => i.user.name === iter.user.name
    );
    if (itemSelect) {
      iter.amount = amountPartial;
    }
  }
  reloadAmount.value++;
};

const controlUserPaidUncheck = async (name: string) => {
  // Confirmo que el pagador no participa de los gastos.
  const userPaid = props.paidItems.find((p) => p.user.name === name);
  if (userPaid) {
    showModal.value = false;
    await AlertsUtil.confirmAlert(
      "El usuario pagador no se incluirá en este gasto"
    );
    showModal.value = true;
  }
};

const checkboxChange = async (ev: CheckboxCustomEvent, index: number) => {
  const { checked, value } = ev.detail;

  if (checked) {
    const elemSelected = value as Payment;
    workingSelectedValues.push(elemSelected);
  } else {
    workingSelectedValues = workingSelectedValues.filter(
      (item) => item.user.name !== value.user.name
    );
    itemsTotal.value[index].amount = 0;
    listCheck.value[index] = false;

    // Confirmo que el pagador no participa de los gastos.
    controlUserPaidUncheck(value.user.name);
  }

  if (workingSelectedValues.length === 0) {
    showModal.value = false;
    await AlertsUtil.confirmAlert("Debe incluirse usuarios deudores.");
    showModal.value = true;
  }

  //Calculate amount user y falta pagar
  calculateAmountUser();
};

const cancel = () => {
  emit("cancelBtn");
};

const confirm = async () => {
  showModal.value = false;
  if (workingSelectedValues.length === 0) {
    await AlertsUtil.confirmAlert("Debe incluirse usuarios deudores.");
    showModal.value = true;
  } else {
    emit("confirmBtn", workingSelectedValues);
  }
};

const searchbarInput = (ev: SearchbarCustomEvent) => {
  filterList(ev.target.value);
};

const filterList = (searchQuery: string | null | undefined) => {
  if (searchQuery === undefined || searchQuery === null) {
    itemsTotal.value = [...props.sourceItems];
  } else {
    const normalizedQuery = searchQuery.toLowerCase();
    itemsTotal.value = props.sourceItems.filter((item) => {
      return item.user.name.toLowerCase().includes(normalizedQuery);
    });
  }
};

onMounted(() => {
  initDefaultValue();
});
</script>

<style scoped>
@import "@/assets/modal.css";
</style>
