<template>
  <Teleport to="body">
    <div class="overlay" v-if="showModal">
      <div class="pop-up">
        <IonPage>
          <IonHeader>
            <ion-toolbar>
              <ion-searchbar
                class="ion-no-padding"
                @ionInput="searchbarInput($event)"
              ></ion-searchbar>
            </ion-toolbar>
          </IonHeader>
          <IonContent class="ion-padding">
            <IonItem>
              <strong>{{ props.title }}</strong>
            </IonItem>
            <IonItem>
              <ion-label
                >Monto: {{ formatNumberTwoDecimals(props.totalAmount) }} - Deuda
                {{ formatNumberTwoDecimals(debtTotal) }}</ion-label
              >
            </IonItem>
            <ion-list style="margin-bottom: 50%; margin: auto; width: 100%">
              <IonItem
                lines="none"
                v-for="(item, index) in itemsTotal"
                :key="index"
              >
                <IonIcon
                  v-if="listCheck[index] && workingSelectedValues.length > 1"
                  style="margin: 0px"
                  slot="start"
                  size="small"
                  :icon="pencil"
                  @click="openChangeAmount(index)"
                ></IonIcon>

                <ion-label style="margin-left: 10px; text-align: left">
                  <IonText>{{
                    formatNumberTwoDecimals(amountList[index])
                  }}</IonText>
                </ion-label>

                <ion-checkbox
                  style="margin: 0px"
                  slot="end"
                  :value="item"
                  :checked="listCheck[index]"
                  @ion-change="checkboxChange($event, index)"
                  ><IonText>{{ item.name }}</IonText></ion-checkbox
                >
              </IonItem>
            </ion-list>
            <IonFooter>
              <ion-toolbar>
                <IonButton
                  slot="start"
                  @click="cancel()"
                  size="small"
                  shape="round"
                  color="secondary"
                  >Cancelar</IonButton
                >
                <IonButton
                  class="ion-no-margin"
                  :disabled="!props.isMeetActive"
                  slot="end"
                  @click="confirm()"
                  size="small"
                  shape="round"
                  color="secondary"
                  >Aceptar</IonButton
                >
              </ion-toolbar>
            </IonFooter>

            <BtnGoBackEvent @btn-back="cancel()"></BtnGoBackEvent>
          </IonContent>
        </IonPage>
      </div>
    </div>
  </Teleport>
</template>

<script setup lang="ts">
import { pencil } from "ionicons/icons";
import {
  IonButton,
  IonCheckbox,
  IonContent,
  IonFooter,
  IonHeader,
  IonItem,
  IonList,
  IonSearchbar,
  IonToolbar,
  IonLabel,
  IonText,
  SearchbarCustomEvent,
  CheckboxCustomEvent,
  IonIcon,
} from "@ionic/vue";
import { Ref, onMounted, ref } from "vue";

import { PaymentContainer } from "@/arq_hex/settle/_domain/dto/PaymentContainerDTO";
import { UserDTO } from "@/arq_hex/gral/_domain/dto/UserDTO";
import { Payment } from "@/arq_hex/settle/_domain/dto/Payment";
import { formatNumberTwoDecimals } from "@/arq_hex/_utils/UtilsNumber";
import { UserAdapter } from "@/arq_hex/gral/_adapters/UserAdapter";
import { IPortUser } from "@/arq_hex/gral/_ports/IPortUser";

import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import BtnGoBackEvent from "@/components/gral/BtnGoBackEvent.vue";

const userCtrl: IPortUser = UserAdapter.getInstance();

const emit = defineEmits(["cancelBtn", "confirmBtn"]);

const props = defineProps<{
  isMeetActive: boolean;
  path_user_add: string;
  totalAmount: number;
  selectedItems: PaymentContainer[];
  title: string;
}>();

const itemsTotal: Ref<UserDTO[]> = ref(userCtrl.getListUser());
const workingSelectedValues: Ref<PaymentContainer[]> = ref([
  ...props.selectedItems,
]);
const debtTotal = ref(props.totalAmount);
const amountList: Ref<number[]> = ref([]);
const changedAmountList: Ref<boolean[]> = ref([]);
const showModal = ref(true);

//Methods
const initDefaultCheck = () => {
  const listCheckAux = new Array<boolean>(itemsTotal.value.length).fill(false);
  changedAmountList.value = new Array<boolean>(itemsTotal.value.length).fill(
    false
  );
  amountList.value = new Array<number>(itemsTotal.value.length).fill(0);

  for (const index in itemsTotal.value) {
    const elem = workingSelectedValues.value.find(
      (i) => i.userPaid.user.name === itemsTotal.value[index].name
    );
    listCheckAux[index] = elem ? true : false;
    amountList.value[index] = elem ? elem.userPaid.amount : 0;
    debtTotal.value -= elem ? elem.userPaid.amount : 0;
  }
  return listCheckAux;
};
const listCheck: Ref<boolean[]> = ref(initDefaultCheck());

const createPaymentContainer = (amount: number, user: UserDTO) => {
  const uPayment: Payment = { amount: amount, user: user };
  const uPaid: PaymentContainer = {
    userPaid: uPayment,
    listUsersDebt: new Array<Payment>(),
  };
  return uPaid;
};

const calculateAmountUser = () => {
  const amountPartial =
    Number(props.totalAmount) / workingSelectedValues.value.length;

  let debtAux = props.totalAmount;
  for (const index in itemsTotal.value) {
    const elem = workingSelectedValues.value.find(
      (iter) => iter.userPaid.user.name === itemsTotal.value[index].name
    );
    if (elem) {
      elem.userPaid.amount = amountPartial;
      amountList.value[index] = elem.userPaid.amount;
      debtAux -= elem.userPaid.amount;
    } else {
      amountList.value[index] = 0;
    }
  }
  //Recalculo lo restante a pagar.
  debtTotal.value = debtAux;
};

const checkboxChange = (ev: CheckboxCustomEvent, index: number) => {
  const { checked, value } = ev.detail;

  if (checked) {
    workingSelectedValues.value = [
      ...workingSelectedValues.value,
      createPaymentContainer(amountList.value[index], value as UserDTO),
    ];
    listCheck.value[index] = true;
    //Reseteo quienes modificaron el monto a mano.
    changedAmountList.value = changedAmountList.value.fill(false);
  } else {
    workingSelectedValues.value = workingSelectedValues.value.filter(
      (item) => item.userPaid.user.name !== value.name
    );
    amountList.value[index] = 0;
    listCheck.value[index] = false;
  }
  calculateAmountUser();
};

const cancel = () => {
  emit("cancelBtn");
};

const confirm = async () => {
  showModal.value = false;
  if (debtTotal.value === 0) {
    emit("confirmBtn", workingSelectedValues.value);
  } else {
    await AlertsUtil.confirmAlert("La deuda debe quedar en 0.");
    showModal.value = true;
  }
};

const setAmountAndChangeDebtAmount = (
  indexAmountChanged: number,
  newAmount: number
) => {
  const cantUserDebt = workingSelectedValues.value.length;
  if (cantUserDebt > 1) {
    let debtAux: number = props.totalAmount - newAmount;
    const amountPartial: number = debtAux / (cantUserDebt - 1);
    let index: number;
    //Al resto de los que pagan obtienen la diferencia.
    for (const indexStr in itemsTotal.value) {
      index = Number(indexStr);
      const item = workingSelectedValues.value.find(
        (item) => item.userPaid.user.name === itemsTotal.value[index].name
      );
      if (item) {
        if (index === indexAmountChanged) {
          item.userPaid.amount = newAmount;
        } else if (!changedAmountList.value[index]) {
          item.userPaid.amount = amountPartial;
          amountList.value[index] = amountPartial;
          debtAux -= amountPartial;
        }
      }
    }
    debtTotal.value = debtAux;
  }
};

const openChangeAmount = async (index: number) => {
  //Se cierra el Modal para mostrar el alert.
  showModal.value = false;
  const inputAmount: number = await AlertsUtil.inputNumberAlert(
    "Monto",
    amountList.value[index]
  );
  //Se muestra el modal de nuevo.
  showModal.value = true;
  amountList.value[index] =
    inputAmount > 0 && inputAmount < props.totalAmount
      ? inputAmount
      : amountList.value[index];
  changedAmountList.value[index] = true;
  //Agrega a lista de seleccionados el monto ingresado a mano y al resto el saldo.
  setAmountAndChangeDebtAmount(index, amountList.value[index]);
};

const searchbarInput = (ev: SearchbarCustomEvent) => {
  const searchQuery: string | null | undefined = ev.target.value;

  if (searchQuery === undefined || searchQuery === null) {
    itemsTotal.value = [...itemsTotal.value];
  } else {
    const normalizedQuery = searchQuery.toLowerCase();
    itemsTotal.value = itemsTotal.value.filter((item) => {
      return item.name.toLowerCase().includes(normalizedQuery);
    });
  }
};

onMounted(() => {
  itemsTotal.value = userCtrl.getListUser();
});
</script>

<style scoped>
@import "@/assets/modal.css";
</style>
