.button-transparent {
  --background: transparentize(200);
  --background-hover: #ffffff;
  box-shadow: none !important;
  border-color: rgba(0, 0, 0, 0) !important;
  outline: none !important;
  --box-shadow: none;
}
