.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.pop-up {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 5%;
  border-radius: 16px;
  height: 85%;
}

@media screen and (max-width: 360px) and (min-width: 240px) {
  .pop-up {
    width: 95%;
    left: 2.5%;
  }
}

@media screen and (max-width: 415px) and (min-width: 361px){
  .pop-up {
    width: 85%;
    left: 7.5%;
  }
}

@media screen and (max-width: 820px) and (min-width: 416px){
  .pop-up {
    width: 65%;
    left: 17.5%;
    height: 75%;
  }
}

@media screen and (max-width: 950px) and (min-width: 821px){
  .pop-up {
    width: 55%;
    left: 22.5%;
    height: 75%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 951px) {
  .pop-up {
    width: 55%;
    left: 23.5%;
    height: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .pop-up {
    width: 33%;
    left: 33.5%;
    height: 65%;
  }
}