<template>
  <IonPage>
    <HeaderApp></HeaderApp>
    <IonContent class="ion-padding" :fullscreen="true">
      <IonItem>
        <IonText color="secondary" style="padding-right: 5px"
          >Encuentro:
        </IonText>
        {{ meetName }}
        <IonIcon
          v-if="props.id && isMeetActive"
          slot="end"
          color="danger"
          :icon="removeCircleOutline"
          @click="deleteBillConfirm()"
        ></IonIcon>
      </IonItem>
      <IonList>
        <IonItem lines="none">
          <IonInput
            :clear-input="true"
            label="Referencia: "
            placeholder="Referencia"
            v-model="reference"
          ></IonInput>
        </IonItem>
        <IonItem lines="none">
          <IonInput
            style="margin-right: 0px; width: 135px"
            :clear-input="true"
            slot="start"
            type="number"
            label="Monto: "
            placeholder="Monto"
            :clear-on-edit="true"
            v-model="totalAmount"
          ></IonInput>

          <SelectCurrency
            :key="reloadCurrency"
            slot="end"
            :default-currency="currency"
            @set-currency="catchEventCurrencySelected"
          >
          </SelectCurrency>
        </IonItem>
        <IonItem lines="none">
          <IonInput
            style="margin-right: 0px; width: 115px"
            slot="start"
            type="number"
            label="Descuento: "
            placeholder="0"
            :counter="false"
            v-model="discountPorcent"
          ></IonInput>
          <IonText style="margin-left: 0px">%</IonText>
        </IonItem>

        <IonItem lines="none" v-if="showPaidSelected">
          <IonLabel
            ><IonText>{{ selectedUsersPaid }}</IonText>
          </IonLabel>
          <SelectPaidUsers
            :is-meet-active="isMeetActive"
            :key="reloadSelectedPaid"
            :total-amount="Number(amountTotalWithDiscount)"
            :list-users-paid="listUsersPaidBill"
            @set-users-paid="catchEventListUsersPaid"
          >
          </SelectPaidUsers>
        </IonItem>

        <IonItem v-if="showPaidSelected && listUsersPaidBill.length > 0">
          <IonLabel
            ><IonText>{{ selectedUsersDebt }}</IonText></IonLabel
          >
          <SelectDebtUsers
            :is-meet-active="isMeetActive"
            :key="reloadSelectedDebt"
            :total-amount="Number(amountTotalWithDiscount)"
            :list-users-paid="listUsersPaidBill"
            :list-user-debt="listUsersDebtBill"
            @set-users-debt="catchEventListUsersDebt"
          >
          </SelectDebtUsers>
        </IonItem>

        <IonItem lines="none" class="ion-padding-top">
          <IonButton
            color="secondary"
            slot="end"
            size="small"
            shape="round"
            @click="router.back()"
          >
            Cancelar
          </IonButton>
          <IonButton
            class="ion-no-margin"
            :disabled="!isMeetActive"
            color="secondary"
            slot="end"
            size="small"
            shape="round"
            @click="saveBill()"
          >
            {{ props.id ? "Modificar" : "Agregar" }}
          </IonButton>
        </IonItem>
      </IonList>

      <BtnGoBack></BtnGoBack>
    </IonContent>
  </IonPage>
</template>

<script setup lang="ts">
import CloneObj from "just-clone";
import { removeCircleOutline } from "ionicons/icons";
import {
  onIonViewWillEnter,
  IonInput,
  IonItem,
  IonText,
  IonLabel,
  IonList,
  IonIcon,
} from "@ionic/vue";
import { Ref, computed, onErrorCaptured, ref, watch } from "vue";
import { useRouter } from "vue-router";

import HeaderApp from "@/views/HeaderApp.vue";
import MeetAdapter from "@/arq_hex/settle/_adapters/MeetAdapter";
import SelectPaidUsers from "@/components/settle/SelectPaidUsers.vue";
import SelectDebtUsers from "@/components/settle/SelectDebtUsers.vue";
import SelectCurrency from "@/components/gral/SelectCurrency.vue";
import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import BtnGoBack from "@/components/gral/BtnGoBack.vue";

import { UserAdapter } from "@/arq_hex/gral/_adapters/UserAdapter";
import { IPortMeet } from "@/arq_hex/settle/_ports/IPortMeet";
import { IPortBill } from "@/arq_hex/settle/_ports/IPortBill";
import { IPortUser } from "@/arq_hex/gral/_ports/IPortUser";

import { BillAdapter } from "@/arq_hex/settle/_adapters/BillAdapter";
import { BillDTO } from "@/arq_hex/settle/_domain/dto/BillDTO";
import { PaymentContainer } from "@/arq_hex/settle/_domain/dto/PaymentContainerDTO";
import { Payment } from "@/arq_hex/settle/_domain/dto/Payment";
import { CurrencyDTO } from "@/arq_hex/gral/_domain/dto/CurrencyDTO";
import { ICurrencyPort } from "@/arq_hex/gral/_ports/ICurrencyPort";
import { CurrencyAdapter } from "@/arq_hex/gral/_adapters/CurrencyAdapter";
import { MeetDTO } from "@/arq_hex/settle/_domain/dto/MeetDTO";

// Definido en settleRoutes.ts, el parametro se recibe como propiedad
const props = defineProps<{
  id: string | undefined;
}>();

const meetCtrl: IPortMeet = MeetAdapter.getInstance();
const billCtrl: IPortBill = BillAdapter.getInstance();
const userCtrl: IPortUser = UserAdapter.getInstance();
const currencyCtrl: ICurrencyPort = CurrencyAdapter.getInstance();

const router = useRouter();

//Attributes
const bill: Ref<BillDTO> = ref(billCtrl.getDefaultBill());

const listUsersPaidBill: Ref<PaymentContainer[]> = ref([]);
const listUsersDebtBill: Ref<Payment[]> = ref([]);

const reloadSelectedPaid: Ref<number> = ref(0);
const reloadSelectedDebt: Ref<number> = ref(0);

const reloadCurrency: Ref<number> = ref(0);
const totalAmount: Ref<number> = ref(0);
const selectedUsersPaid = ref("Pagadores (0)");
const selectedUsersDebt = ref("Deudores (0)");
const discountPorcent: Ref<number> = ref(0);
const meetActive: Ref<MeetDTO | undefined> = ref(meetCtrl.getMeetActive());
const meetName: Ref<string> = ref(
  meetActive.value ? (meetActive.value.name as string) : ""
);
const isMeetActive: Ref<boolean> = ref(
  meetActive.value ? meetActive.value.active : false
);
const reference: Ref<string> = ref("");
const currency: Ref<CurrencyDTO> = ref(currencyCtrl.getDefaultCurrency());

//Computed
const showPaidSelected = computed(() => {
  return totalAmount.value > 0;
});

const amountTotalWithDiscount = computed<number>(() => {
  return totalAmount.value - calculateDiscount();
});

//Watch
watch(totalAmount, () => {
  if (!totalAmount.value || totalAmount.value === 0) {
    listUsersPaidBill.value = new Array<PaymentContainer>();
    listUsersDebtBill.value = new Array<Payment>();
    selectedUsersPaid.value = "Pagadores (0)";
    selectedUsersDebt.value = "Deudores (0)";
  }
});

//Methods
const goToHomeSettle = () => {
  router.push({ path: "/settle" });
};

const resetFieldBill = () => {
  bill.value = billCtrl.getDefaultBill();
  totalAmount.value = 0;
  reference.value = "";
  discountPorcent.value = 0;
  currency.value = currencyCtrl.getDefaultCurrency();

  listUsersPaidBill.value = new Array<PaymentContainer>();
  listUsersDebtBill.value = new Array<Payment>();
  selectedUsersPaid.value = "Pagadores (0)";
  selectedUsersDebt.value = "Deudores (0)";
};

const calculateAverageAmountUserDebt = (
  amountPaid: number,
  listUsersDebt: Array<Payment>
): Promise<Array<Payment>> => {
  return new Promise((resolve) => {
    // Calculo cuanto corresponde pagar entre todos los integrantes.
    const amountAverage: number = amountPaid / listUsersDebt.length;
    const listAux = new Array<Payment>();

    for (const userDebt of listUsersDebt) {
      listAux.push({ amount: amountAverage, user: userDebt.user });
    }
    resolve(listAux);
  });
};

const calculateDiscount = (): number => {
  return discountPorcent.value > 0
    ? totalAmount.value * (discountPorcent.value / 100)
    : 0;
};
const reloadItemsSelected = () => {
  //Al cambiar la clave se renderiza de nuevo el componente hijo.
  selectedUsersPaid.value = `Pagadores (${listUsersPaidBill.value.length})`;
  selectedUsersDebt.value = `Deudores (${listUsersDebtBill.value.length})`;
  reloadSelectedDebt.value++;
  reloadSelectedPaid.value++;
};

const convertUserTotalToUserDebt = (): Array<Payment> => {
  const listUserTotal = userCtrl.getListUser();
  const listDebtAux = new Array<Payment>();

  for (const user of listUserTotal) {
    const userDebt: Payment = { amount: 0, user: user };
    listDebtAux.push(userDebt);
  }
  return listDebtAux;
};

const calculateAmountDebtPersistedUser = async (
  listPaid: PaymentContainer[]
) => {
  //Debo sumar los montos parciales de los deudores por usuario para saber cuanto debe en total el usuario deudor.
  const mapUserDebt = new Map<string, Payment>();

  for (const iterPaid of listPaid) {
    //Lista de usuarios deudores.
    for (const iterDebt of iterPaid.listUsersDebt) {
      let paymentDebt: Payment | undefined = mapUserDebt.get(
        iterDebt.user.name
      );
      //
      if (paymentDebt) {
        paymentDebt.amount += iterDebt.amount;
      } else {
        paymentDebt = iterDebt;
      }

      mapUserDebt.set(iterDebt.user.name, paymentDebt);
    }
  }

  const listDebtAux: Payment[] = new Array<Payment>();
  //NOTA: Aqui es .values() porque estamos recorriendo un map
  for (const value of mapUserDebt.values()) {
    listDebtAux.push(value as Payment);
  }

  return listDebtAux;
};

// Divido el monto a pagar por la cantidad de deudores, incluyendo al pagador por defecto.
const calculateAmount4DebtUser = async (
  listUserTotal: Array<Payment>,
  amountPaid: number
) => {
  // Deuda del pago sobre los usuarios totales, incluido el pagador.
  const amountPartial = amountPaid / listUserTotal.length;

  const listResult = new Array<Payment>();
  for (const user of listUserTotal) {
    listResult.push({ amount: amountPartial, user: user.user });
  }
  return listResult;
};

const loadListDebt = async () => {
  return await calculateAmount4DebtUser(
    convertUserTotalToUserDebt(),
    amountTotalWithDiscount.value
  );
};

const catchEventListUsersPaid = async (listPaid: Array<PaymentContainer>) => {
  const listUserDebt4UserPaid = convertUserTotalToUserDebt();
  //Agrego los participantes por defecto, que en principio son todos.
  for (const iter of listPaid) {
    // Asigno a cada usuario pagador el listado de usuarios deudores.
    iter.listUsersDebt = await calculateAverageAmountUserDebt(
      iter.userPaid.amount, //Envio el monto que corresponde segun cuantos pagan
      //Lista de users toatal convertidos a usauarios deudores.
      listUserDebt4UserPaid
    );
  }
  listUsersPaidBill.value = CloneObj(listPaid);

  // Calculo cuanto es el total del monto para cada uno de los deudores, toma el total de usuarios en el encuentro.
  listUsersDebtBill.value = await loadListDebt();

  console.log("catchEventListUsersPaid billAdd", listUsersPaidBill.value);

  //Refresco los mensajes de usuarios seleccionados en el pago
  reloadItemsSelected();
};

const catchEventListUsersDebt = async (listDebt: Array<Payment>) => {
  listUsersDebtBill.value = CloneObj(listDebt);
  let amountPartial: number;

  const listPaidAux = CloneObj(listUsersPaidBill.value);
  let listDebtAux: Array<Payment>;
  //Calculo cuanto debe aportar cada deudor segun el monto del pagador.
  for (const iter of listPaidAux) {
    listDebtAux = new Array<Payment>();
    //Monto del pagador sobre cantidad de deudores
    amountPartial = iter.userPaid.amount / listUsersDebtBill.value.length;
    //La suma de lo que deben los deudores para todos los pagadores es igual a lo que deben pagar por este gasto.
    for (const debt of listUsersDebtBill.value) {
      listDebtAux.push({ amount: amountPartial, user: debt.user });
    }
    iter.listUsersDebt = CloneObj(listDebtAux); //hago una copia
  }
  listUsersPaidBill.value = CloneObj(listPaidAux);
  selectedUsersDebt.value = `Deudores (${listUsersDebtBill.value.length})`;
};

const catchEventCurrencySelected = (currencySelected: CurrencyDTO) => {
  currency.value = currencySelected;
};

const saveBill = async () => {
  if (!reference.value) {
    AlertsUtil.confirmAlert("Referencia obligatoria!");
    return;
  } else if (totalAmount.value <= 0) {
    AlertsUtil.confirmAlert("Monto obligatorio!");
    return;
  } else if (listUsersPaidBill.value.length === 0) {
    AlertsUtil.confirmAlert("El usuario pagador es obligatorio!");
    return;
  } else if (listUsersDebtBill.value.length === 0) {
    AlertsUtil.confirmAlert("Los usuarios participantes es obligatorio!");
    return;
  }

  //Identificador del Meet Activo.
  if (meetActive.value) {
    const idMeet = meetActive.value.idMeet;

    //Asigno los campos modificados.
    //Referencia
    bill.value.reference = reference.value;
    //Monto total
    bill.value.receipt.amount = totalAmount.value;
    //Porcentaje del descuento ingresado.
    bill.value.receipt.discount = discountPorcent.value;
    //Moneda elegida.
    bill.value.receipt.currency = currency.value;
    //Lista de pagadores, contiene cada uno lista de deudores
    bill.value.listUsersPaid = CloneObj(listUsersPaidBill.value); //Hago una copia

    if (props.id) {
      //Update bill
      billCtrl.updateBill(idMeet, bill.value);
    } else {
      //Add bill
      billCtrl.createBill(idMeet, bill.value);
    }

    goToHomeSettle();

    //Reset all fields
    resetFieldBill();
  } else {
    console.log("***ERROR***** saveBill BillAdd", meetActive.value);

    AlertsUtil.toastNoMeetActive();
  }
};

const deleteBillConfirm = async () => {
  const isOk = await AlertsUtil.confirmCancelAlert(
    "Confirma eliminar Pago?",
    "Cancelar",
    "Eliminar"
  );

  //Confirmo eliminar pago
  if (isOk && props.id) {
    if (meetActive.value) {
      billCtrl.deleteBill(meetActive.value.idMeet, props.id);
      router.back();
    } else {
      console.log("***ERROR***** deleteBillConfirm BillAdd", meetActive.value);

      AlertsUtil.toastNoMeetActive();
    }
  }
};

onIonViewWillEnter(async () => {
  meetActive.value = meetCtrl.getMeetActive();
  if (meetActive.value) {
    meetName.value = meetActive.value.name as string;
    isMeetActive.value = meetActive.value.active;

    //Si existe id es una actualizacion.
    if (props.id) {
      // Obtengo el pago para modificarlo.
      const billOld = billCtrl.getBillById(props.id) as BillDTO;

      if (billOld) {
        bill.value = billOld;

        totalAmount.value = bill.value.receipt.amount;
        reference.value = bill.value.reference;
        //Descuento
        discountPorcent.value = bill.value.receipt.discount;
        //Currency
        currency.value = bill.value.receipt.currency;

        /*---------------------------------------*/
        //Cargo las listas
        listUsersPaidBill.value = CloneObj(bill.value.listUsersPaid);
        //Calculo lista de deudores segun la lista de los pagadores.
        listUsersDebtBill.value = await calculateAmountDebtPersistedUser(
          CloneObj(listUsersPaidBill.value)
        );
        /*---------------------------------------*/
      }
      //Para que se vuelva a cargar los componentes Selectores de Paid y Debt.
      selectedUsersPaid.value = `Pagadores (${listUsersPaidBill.value.length})`;
      selectedUsersDebt.value = `Deudores (${listUsersDebtBill.value.length})`;
    } else {
      //Inicialmente todos los usuarios participan para pagar.
      resetFieldBill();
    }
    reloadSelectedPaid.value++;
    reloadSelectedDebt.value++;
    reloadCurrency.value++;
  } else {
    console.log("***ERROR***** onIonViewWillEnter BillAdd", meetActive.value);

    AlertsUtil.toastNoMeetActive();
  }
});

onErrorCaptured(() => {
  console.log("Cualquier exception en este componente se invoca a esta Hook.");
console.log("Ante una exception, primero se ejecuta este Hook y luego va al manejador global en Main.ts.");
});
</script>

<style scoped></style>
