<template>
  <IonPage>
    <HeaderApp></HeaderApp>
    <IonContent class="ion-padding" :fullscreen="true">
      <IonItem class="ion-no-padding ion-no-margin">
        <IonText color="secondary" style="padding-right: 5px"
          ><strong>Encuentro: </strong></IonText
        >
        {{ meetName }}
      </IonItem>

      <ProgressBar :show-progress="showProgress"></ProgressBar>

      <IonItem style="text-align: center">
        <IonLabel>
          <IonText color="secondary">
            <strong>Resumen de gastos</strong>
          </IonText>
        </IonLabel>
      </IonItem>

      <IonItem class="ion-no-padding ion-no-margin">
        <IonLabel>
          <IonText color="secondary">
            <strong>Resultados</strong>
          </IonText>
        </IonLabel>
      </IonItem>

      <IonItem lines="none" v-if="resultUserHaveToPay.size === 0">
        <IonLabel style="text-align: center" color="secondary">
          <h3>No hay transacciones a realizar</h3>
        </IonLabel>
      </IonItem>

      <IonItem
        v-for="(listCurrency, icurr) in resultUserHaveToPay"
        :key="icurr"
      >
        <IonLabel
          class="ion-no-margin ion-no-padding"
          v-if="listCurrency[1].size > 0"
        >
          <h3>
            <IonText color="secondary">{{ listCurrency[0] }}</IonText>
          </h3>
          <IonGrid class="ion-no-margin ion-no-padding">
            <IonRow
              v-for="(resultUserHaveToPay, index) in listCurrency[1]"
              :key="index"
            >
              <IonCol>
                <IonItem
                  v-if="resultUserHaveToPay[1].length > 0"
                  class="ion-no-padding ion-no-margin"
                >
                  <IonGrid class="ion-no-margin ion-no-padding">
                    <IonRow
                      v-for="(elem, indexDebt) in resultUserHaveToPay[1]"
                      :key="indexDebt"
                    >
                      <IonCol style="text-align: left">
                        <IonText class="ion-no-padding ion-no-margin">
                          <p>{{ limitText(elem.user.name) }}</p>
                          <p>({{ formatNumberTwoDecimals(elem.amount) }})</p>
                        </IonText>
                      </IonCol>
                      <IonCol size="auto">
                        <IonIcon
                          color="secondary"
                          :icon="arrowForwardOutline"
                        ></IonIcon>
                      </IonCol>
                      <IonCol style="text-align: right">
                        <IonText class="ion-no-padding ion-no-margin">
                          <p>{{ resultUserHaveToPay[0] }}</p>
                        </IonText>
                      </IonCol>
                    </IonRow>
                  </IonGrid>
                </IonItem>
              </IonCol>
            </IonRow>
          </IonGrid>
        </IonLabel>
      </IonItem>

      <IonItem lines="none" class="ion-no-padding ion-no-margin">
        <IonLabel>
          <IonRow @click="showResumePaid = !showResumePaid">
            <IonCol size="1">
              <IonIcon
                color="secondary"
                v-if="showResumePaid"
                :icon="chevronDownOutline"
              ></IonIcon>
              <IonIcon
                v-else
                color="secondary"
                :icon="chevronForwardOutline"
              ></IonIcon
            ></IonCol>
            <IonCol style="text-align: left">
              <IonText color="secondary">
                <strong>Gastos</strong>
              </IonText>
            </IonCol>
          </IonRow>
          <div v-if="showResumePaid">
            <ListCheckSummary :map-check="mapCheckPaid"></ListCheckSummary>

            <IonItem lines="none" v-if="mapCheckPaid.size === 0">
              <h3>No hay gastos por el momento</h3>
            </IonItem>
          </div>
        </IonLabel>
      </IonItem>

      <IonItem lines="none" class="ion-no-padding ion-no-margin">
        <IonLabel>
          <IonRow @click="showResumeDebt = !showResumeDebt">
            <IonCol size="1">
              <IonIcon
                color="secondary"
                v-if="showResumeDebt"
                :icon="chevronDownOutline"
              ></IonIcon>
              <IonIcon
                v-else
                color="secondary"
                :icon="chevronForwardOutline"
              ></IonIcon
            ></IonCol>
            <IonCol style="text-align: left">
              <IonText color="secondary">
                <strong>Deudas</strong>
              </IonText>
            </IonCol>
          </IonRow>
          <div v-if="showResumeDebt">
            <ListCheckSummary :map-check="mapCheckDebt"></ListCheckSummary>

            <IonItem lines="none" v-if="mapCheckDebt.size === 0">
              <h3>No hay deudas por el momento</h3>
            </IonItem>
          </div>
        </IonLabel>
      </IonItem>

      <IonItem
        lines="none"
        class="ion-no-padding ion-no-margin"
        v-if="isMeetActive && resultUserHaveToPay.size > 0"
      >
        <IonIcon
          color="secondary"
          :icon="saveOutline"
          @click="closeMeet"
        ></IonIcon>
      </IonItem>

      <BtnGoBack></BtnGoBack>
    </IonContent>
  </IonPage>
</template>

<script setup lang="ts">
import CloneObj from "just-clone";
import {
  chevronDownOutline,
  chevronForwardOutline,
  arrowForwardOutline,
  saveOutline,
} from "ionicons/icons";
import {
  onIonViewWillEnter,
  IonItem,
  IonLabel,
  IonText,
  IonIcon,
  IonRow,
  IonCol,
  IonGrid,
} from "@ionic/vue";
import { Ref, ref } from "vue";

import MeetAdapter from "@/arq_hex/settle/_adapters/MeetAdapter";
import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import HeaderApp from "@/views/HeaderApp.vue";
import BtnGoBack from "@/components/gral/BtnGoBack.vue";
import ListCheckSummary from "@/components/settle/ListCheckSummary.vue";
import ProgressBar from "@/components/gral/ProgressBar.vue";

import { formatNumberTwoDecimals } from "@/arq_hex/_utils/UtilsNumber";
import { limitTextGral } from "@/arq_hex/_utils/UtilsString";
import { BillAdapter } from "@/arq_hex/settle/_adapters/BillAdapter";
import { IPortBill } from "@/arq_hex/settle/_ports/IPortBill";
import { Payment } from "@/arq_hex/settle/_domain/dto/Payment";
import { BillDTO } from "@/arq_hex/settle/_domain/dto/BillDTO";
import { IPortMeet } from "@/arq_hex/settle/_ports/IPortMeet";
import { useRouter } from "vue-router";
import { MeetDTO } from "@/arq_hex/settle/_domain/dto/MeetDTO";

const router = useRouter();
const billCtrl: IPortBill = BillAdapter.getInstance();
const meetCtrl: IPortMeet = MeetAdapter.getInstance();

const meetActive: Ref<MeetDTO | undefined> = ref(meetCtrl.getMeetActive());
const isMeetActive: Ref<boolean> = ref(
  meetActive.value ? meetActive.value.active : false
);
const meetName = ref(meetActive.value ? meetActive.value.name : "");
const mapCheckPaid = ref(new Map<string, Map<string, number>>());
const mapCheckDebt = ref(new Map<string, Map<string, number>>());
const resultUserHaveToPay = ref(new Map<string, Map<string, Array<Payment>>>());

const showProgress = ref(false);
const showResumePaid = ref(false);
const showResumeDebt = ref(false);
const path_list_meet = "/settle/main/meet-list";

//Methods
const closeMeet = async () => {
  showProgress.value = true;
  const isOk = await AlertsUtil.confirmCancelAlert(
    "Confirma cerrar el encuentro?, ya no podrá agregar pagos.",
    "Cancelar",
    "Cierre"
  );

  //Confirmo cerrar encuentro
  if (isOk) {
    if (meetActive.value) {
      await meetCtrl.closeMeet(meetActive.value.idMeet);
      await router.push(path_list_meet);
    } else {
      console.log("***ERROR***** closeMeet CheckBill", meetActive.value);

      AlertsUtil.toastNoMeetActive();
    }
  }
  showProgress.value = false;
};

function limitText(text: string): string {
  return limitTextGral(text, 10);
}

// Saco todos los deudores que pudieron transferir sus deudas
const cleanDebtAmountSolved = (
  mapCurrencyUsersPaid: Map<string, Map<string, Array<Payment>>>
) => {
  //Corrijo porque puede dar sumas negativas.
  const cleanMapUserHaveToPay = new Map<string, Map<string, Array<Payment>>>();

  for (const [currency, mapUserWhoPay] of mapCurrencyUsersPaid) {
    const mapUserWhoPayNew = new Map<string, Array<Payment>>();
    //Recorro el map
    for (const [key, listDebt] of mapUserWhoPay) {
      const listDebtNew: Array<Payment> = new Array<Payment>();

      /*-------------------------------*/
      //Genero una nueva lista con deudores con monto = 0 y sin repetidos
      for (const debt of listDebt) {
        if (debt.amount > 0) {
          const userDebt = listDebtNew.find(
            (u) => u.user.name === debt.user.name
          );
          //Si el usuario se repite le sumo sus montos sino lo agrego a la lista
          if (userDebt) {
            userDebt.amount += debt.amount;
          } else {
            listDebtNew.push(debt);
          }
        }
      }
      /*-------------------------------*/
      mapUserWhoPayNew.set(key, listDebtNew);
    }
    cleanMapUserHaveToPay.set(currency, mapUserWhoPayNew);
  }

  return cleanMapUserHaveToPay;
};

//Verifico si al que le debo esta en la lista de los que me deben
const findUserInListUserDebt = (
  listDebt: Payment[],
  nameUserPaid: string
): Payment | undefined => {
  return listDebt.find((u) => u.user.name === nameUserPaid);
};

const reduceTransactionUserHaveToPay = (
  mapCurrencyUsersPaid: Map<string, Map<string, Array<Payment>>>
) => {
  for (const [currency, mapUserWhoPay] of mapCurrencyUsersPaid) {
    console.log("Currency:", currency);
    //Recorro el map
    for (const [userPay, listUserDebt] of mapUserWhoPay) {
      //Recorro la lista de deudores del pagador (userPay)
      for (const userDebt of listUserDebt) {
        if (userDebt.amount > 0) {
          //Verifico si el deudor userDebt tiene deudores de los pagos que el realizó
          const listUserDebtOfDebt = mapUserWhoPay.get(userDebt.user.name); //La clave es el nombre del usuario.

          if (listUserDebtOfDebt && listUserDebtOfDebt.length > 0) {
            //Me fijo si se deben mutuamente
            //Para el deudor userDebt del pagador (userPay), userPay esta entre sus deudores?.
            const userPaid = findUserInListUserDebt(
              listUserDebtOfDebt,
              userPay
            );

            // Si (userPay) esta entre los deudores de userDebt
            if (userPaid && userPaid.amount > 0) {
              //En el caso que el pagador esta entre los deudores de userDebt,
              //trabajo entre el deudor y el pagador directamente antes de pasar a los otros deudores del userDebt

              //Si userDebt le debe menos al pagador userPaid, descuento el monto y termino de reducir.
              if (Number(userDebt.amount) < Number(userPaid.amount)) {
                userPaid.amount -= userDebt.amount;
                userDebt.amount = 0;

                // Continúo ya que el usuario pagador aún no esta en 0.
              } else {
                //Recorro por todos los deudores del deudor userDebt
                for (const userDebtOfDebt of listUserDebtOfDebt) {
                  //Compruebo montos para traspasar los gastos de los que me deben al que le debo.

                  //Verifico si la deuda ya no fue saldada.
                  if (userDebt.amount > 0) {
                    //Si debo mas de lo que me debe el que estoy recorriendo, lo resto y sigo con el siguiente.
                    if (
                      Number(userDebt.amount) > Number(userDebtOfDebt.amount)
                    ) {
                      userDebt.amount -= userDebtOfDebt.amount;

                      // Se tranfiere la deuda del deudor de userDebt a la lista de deudores del pagador userPay.
                      if (userPay !== userDebtOfDebt.user.name) {
                        //Debo clonar el objeto porque despues es modificado.
                        listUserDebt.push(CloneObj(userDebtOfDebt));
                      }
                      //
                      userDebtOfDebt.amount = 0;
                    } else {
                      //Se resta el saldo que quedaba
                      userDebtOfDebt.amount -= userDebt.amount;

                      //Debo clonar el objeto porque despues es modificado.
                      // Le asigno el deudor de userDebt como deudor del pago que userDebt es deudor.
                      const pay: Payment = {
                        amount: userDebt.amount,
                        user: userDebtOfDebt.user,
                      };
                      listUserDebt.push(pay);

                      userDebt.amount = 0;

                      // Salgo ya cubrí el gasto.
                      break;
                    }
                  } else {
                    //La deuda ya fue saldada, salgo
                    break;
                  }
                } //For lista de deudores del deudor userDebt
              }
            } // Control que UserDebt tenia dudores
          } // UserDebt tenia dudores
        } // UserDebt debia un monto mayor a cero
      } // fin recorrido lista deudores del pagador
    } // fin recorrido lista de pagadores
  } // fin recorrido de monedas

  //Devuelvo mapa de monedas donde los deudores de los pagadores transfirieron a sus propios deudores sus deudas.
  return mapCurrencyUsersPaid;
};

/*-------- calculateSummaryTotalHaveToPay4User -------*/

const findUserById = (list: Array<Payment>, name: string) => {
  // Agrego a la lista el usuario deudor.
  return list?.find((u) => u.user.name === name);
};

const createListDebtorForPayer = (
  listDebt: Payment[],
  userPayer: string,
  listDebtResult: Payment[] | undefined
): Payment[] => {
  if (!listDebtResult) {
    listDebtResult = new Array<Payment>();
  }
  //Usuarios deudores para el pago que realizó los pagadores
  for (const debt of listDebt) {
    //Excluyo al usuario pagador (a si mismo) de la lista de deudores
    if (debt.user.name !== userPayer) {
      // Agrego a la lista el usuario deudor.
      const userDebt4UserPaid = findUserById(listDebtResult, debt.user.name);

      if (userDebt4UserPaid) {
        userDebt4UserPaid.amount += debt.amount;
      } else {
        listDebtResult.push(debt);
      }
    }
  }
  return listDebtResult;
};

const calculateSummaryTotalHaveToPay4User = (listBill: BillDTO[]) => {
  let listDebtorOfPayer;
  const currencyMapUserPay = new Map<string, Map<string, Array<Payment>>>();

  // Recorro lista de pagos, registro usarios pagadores y deudores con sus montos diferenciado por moneda.
  for (const bill of listBill) {
    const currencyCode = bill.receipt.currency.code;

    let mapListPayer = currencyMapUserPay.get(currencyCode);
    if (!mapListPayer) {
      mapListPayer = new Map<string, Array<Payment>>();
    }

    //Recorro lista pagadores
    for (const iter of bill.listUsersPaid) {
      //Usuario y monto pagador
      const userPayer = iter.userPaid.user.name;

      //Agrupo por menedas
      if (mapListPayer) {
        //Obtengo el usuario pagador.
        listDebtorOfPayer = mapListPayer.get(userPayer);
      }

      //Creo la lista de deudores por usuario.
      //Nota: No se debe agregar a si mismo.
      listDebtorOfPayer = createListDebtorForPayer(
        iter.listUsersDebt,
        userPayer,
        listDebtorOfPayer
      );

      if (listDebtorOfPayer.length > 0) {
        //Agrego a la lista de deudores por pagador, si no existe no agrego una lista vacia
        // NOTA: La clave es el nombre del usuario.
        mapListPayer.set(userPayer, listDebtorOfPayer);
      }
    }
    if (mapListPayer.size > 0) {
      //Agrego el usuario por Discriminado por moneda
      currencyMapUserPay.set(currencyCode, mapListPayer);
    }
  }
  return currencyMapUserPay;
};

/**------------------ TOTAL ------------------**/

const addUserToMap = (
  mapCheckTemp: Map<string, Map<string, number>>,
  userName: string,
  totalAmount: number,
  currencyCode: string
) => {
  const listUser = mapCheckTemp.get(userName);

  if (listUser) {
    let amount = listUser.get(currencyCode);
    if (amount) {
      amount += totalAmount;
    } else {
      amount = totalAmount;
    }
    listUser.set(currencyCode, amount);
  } else {
    const payment = new Map<string, number>();
    payment.set(currencyCode, totalAmount);
    mapCheckTemp.set(userName, payment);
  }
  return mapCheckTemp;
};

const calculateTotalPaidAndDebt4User = (listBill: BillDTO[]) => {
  //Recorro lista de pagos y calculo los montos totales de pagos y deudas.
  //Realizo el calculo de cuanto deben cada usuarios.
  mapCheckPaid.value = new Map<string, Map<string, number>>();
  mapCheckDebt.value = new Map<string, Map<string, number>>();

  // Recorro lista de pagos, registro usarios pagadores y deudores con sus montos diferenciado por moneda.
  for (const bill of listBill) {
    const currencyCode = bill.receipt.currency.code;

    //Recorro lista pagadores
    for (const iter of bill.listUsersPaid) {
      const userName = iter.userPaid.user.name;

      const totalAmount = Number(iter.userPaid.amount);
      //Agrego al mapa al usuario pagador y sumo a su total.
      mapCheckPaid.value = addUserToMap(
        mapCheckPaid.value,
        userName,
        totalAmount,
        currencyCode
      );

      //Usuarios deudores para el pago que realizó los pagadores
      for (const debt of iter.listUsersDebt) {
        //Agrego al mapa al usuario deudor y sumo a su total.
        mapCheckDebt.value = addUserToMap(
          mapCheckDebt.value,
          debt.user.name,
          debt.amount,
          currencyCode
        );
      }
    }
  }
};

onIonViewWillEnter(() => {
  showProgress.value = true;

  meetActive.value = meetCtrl.getMeetActive();

  if (meetActive.value) {
    //Actualizo el encuentro activo
    isMeetActive.value = meetActive.value.active;
    meetName.value = meetActive.value.name;

    const listBill = meetActive.value.active
      ? billCtrl.getListBillMeetActive(meetActive.value.idMeet)
      : billCtrl.getListBillMeetClose(meetActive.value.idMeet);

    // Este calculo es a modo informativo: Calculo monto total por usuario en pagos y deudas
    calculateTotalPaidAndDebt4User(CloneObj(listBill));

    //
    resultUserHaveToPay.value = calculateSummaryTotalHaveToPay4User(
      CloneObj(listBill)
    );

    console.log(
      "calculateSummaryTotalHaveToPay4User",
      CloneObj(resultUserHaveToPay.value)
    );

    //Reduzco el resultado para minimizar las transacciones
    resultUserHaveToPay.value = reduceTransactionUserHaveToPay(
      CloneObj(resultUserHaveToPay.value)
    );

    console.log(
      "reduceTransactionUserHaveToPay",
      CloneObj(resultUserHaveToPay.value)
    );

    //Elimino los usuarios que saldaron sus deudas.
    resultUserHaveToPay.value = cleanDebtAmountSolved(
      resultUserHaveToPay.value
    );

    console.log("cleanDebtAmountSolved", CloneObj(resultUserHaveToPay.value));
  } else {
    console.log("***ERROR***** onIonViewWillEnter CheckBill", meetActive.value);

    AlertsUtil.toastNoMeetActive();
  }
  showProgress.value = false;
});
</script>

<style scoped>
ion-thumbnail {
  --size: 40%;
}
</style>
