<template>
  <IonPage>
    <HeaderApp></HeaderApp>
    <IonContent class="ion-padding" :fullscreen="true">
      <IonItem>
        <IonText color="secondary">
          <strong>Listado de encuentros</strong>
        </IonText>
        <IonIcon
          slot="end"
          color="secondary"
          :icon="add"
          @click="goToAddMeet"
        ></IonIcon>
      </IonItem>

      <ProgressBar :show-progress="showProgress"></ProgressBar>

      <ModalSearchMeet
        v-if="showModalSearchMeet"
        @cancel-btn="showModalSearchMeet = false"
      ></ModalSearchMeet>

      <IonItem>
        <ion-label>
          <IonItem lines="none">
            <IonText slot="start">
              <h3>Abiertos</h3>
            </IonText>
            <IonIcon
              class="ion-no-margin"
              slot="end"
              color="secondary"
              :icon="searchCircleOutline"
              @click="showModalSearchMeet = true"
            ></IonIcon>
          </IonItem>

          <div v-if="!listActivesMeet || listActivesMeet.length > 0">
            <ion-list v-for="(item, index) in listActivesMeet" :key="index">
              <div v-if="item.active">
                <ion-label>
                  <IonGrid>
                    <IonRow fixed="true">
                      <IonCol
                        size="1"
                        @click="showMeetActive[index] = !showMeetActive[index]"
                      >
                        <IonIcon
                          color="secondary"
                          v-if="showMeetActive[index]"
                          :icon="chevronDownOutline"
                        ></IonIcon>
                        <IonIcon
                          v-else
                          color="secondary"
                          :icon="chevronForwardOutline"
                        ></IonIcon
                      ></IonCol>
                      <IonCol style="text-align: left">
                        <IonText>{{ limitText(item.name) }}</IonText>
                      </IonCol>
                      <IonCol size="1" style="margin-left: 10px">
                        <IonIcon
                          color="secondary"
                          :icon="pencil"
                          @click="goToUpdateMeetActive(item)"
                        ></IonIcon
                      ></IonCol>
                      <IonCol size="1">
                        <IonIcon
                          color="secondary"
                          :icon="removeCircleOutline"
                          @click="deleteMeetActiveConfirm(item.idMeet)"
                        ></IonIcon
                      ></IonCol>
                      <IonCol size="1" style="margin-left: 10px">
                        <IonIcon
                          color="secondary"
                          @click="goToHomeMeetActive(item)"
                          :icon="arrowRedoOutline"
                        ></IonIcon
                      ></IonCol>
                    </IonRow>
                  </IonGrid>
                </ion-label>

                <DetailsMeet
                  v-if="showMeetActive[index]"
                  :name="item.name"
                  :created="item.created"
                  :updated="item.updated"
                  :active="item.active"
                  :id-meet="item.idMeet"
                ></DetailsMeet>
              </div>
            </ion-list>
          </div>

          <!-- Ojo debe estar a contiuacion para que funcione el v-else. -->
          <BtnMeetEmpty v-else></BtnMeetEmpty>
        </ion-label>
      </IonItem>

      <IonItem>
        <IonText color="secondary">
          <strong>Historial de encuentros</strong>
        </IonText>
      </IonItem>
      <IonItem lines="none">
        <ion-label>
          <IonLabel
            style="text-align: center"
            v-if="listHistorialMeet.length === 0"
          >
            <h3>No hay encuentros cerrados</h3>
          </IonLabel>

          <ion-list v-for="(item, index) in listHistorialMeet" :key="index">
            <div v-if="!item.active">
              <ion-label>
                <IonGrid>
                  <IonRow fixed="true">
                    <IonCol
                      size="1"
                      @click="
                        showMeetHistorial[index] = !showMeetHistorial[index]
                      "
                    >
                      <IonIcon
                        color="secondary"
                        v-if="showMeetHistorial[index]"
                        :icon="chevronDownOutline"
                      ></IonIcon>
                      <IonIcon
                        color="secondary"
                        v-else
                        :icon="chevronForwardOutline"
                      ></IonIcon>
                    </IonCol>
                    <IonCol style="text-align: left">
                      <IonText>{{ limitText(item.name) }}</IonText>
                    </IonCol>
                    <IonCol size="1" style="margin-left: 10px">
                      <IonIcon
                        color="secondary"
                        :icon="removeCircleOutline"
                        @click="deleteMeetHistorialConfirm(item.idMeet)"
                      ></IonIcon>
                    </IonCol>
                    <IonCol size="1" style="margin-left: 10px">
                      <IonIcon
                        color="secondary"
                        @click="goToHomeMeetActive(item)"
                        :icon="arrowRedoOutline"
                      ></IonIcon
                    ></IonCol>
                  </IonRow>
                </IonGrid>
              </ion-label>

              <DetailsMeet
                v-if="showMeetHistorial[index]"
                :name="item.name"
                :created="item.created"
                :updated="item.updated"
                :active="item.active"
              ></DetailsMeet>
            </div>
          </ion-list>
        </ion-label>
      </IonItem>
    </IonContent>
  </IonPage>
</template>

<script setup lang="ts">
import { add, searchCircleOutline } from "ionicons/icons";
import {
  chevronDownOutline,
  chevronForwardOutline,
  removeCircleOutline,
  arrowRedoOutline,
  pencil,
} from "ionicons/icons";
import {
  onIonViewWillEnter,
  IonIcon,
  IonItem,
  IonLabel,
  IonList,
  IonGrid,
  IonRow,
  IonCol,
  IonText,
} from "@ionic/vue";
import { Ref, ref } from "vue";

import ModalSearchMeet from "@/views/gral/modal/ModalSearchMeet.vue";
import ProgressBar from "@/components/gral/ProgressBar.vue";
import MeetAdapter from "@/arq_hex/settle/_adapters/MeetAdapter";
import BtnMeetEmpty from "@/components/settle/BtnMeetEmpty.vue";
import HeaderApp from "@/views/HeaderApp.vue";

import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";

import { IPortMeet } from "@/arq_hex/settle/_ports/IPortMeet";
import { MeetDTO } from "@/arq_hex/settle/_domain/dto/MeetDTO";

import { limitTextGral } from "@/arq_hex/_utils/UtilsString";
import { useUserLoginStore } from "@/arq_hex/gral/_domain/store/UserLoginStore";

import { useRouter } from "vue-router";
import DetailsMeet from "@/components/settle/DetailsMeet.vue";

// Attributes
const router = useRouter();
const meetCtrl: IPortMeet = MeetAdapter.getInstance();

const path_home = "/settle";
const listActivesMeet: Ref<MeetDTO[]> = ref(meetCtrl.getListActivesMeet());
const listHistorialMeet: Ref<MeetDTO[]> = ref(meetCtrl.getListHistorialMeet());

const showMeetHistorial: Ref<boolean[]> = ref(
  new Array<boolean>(listHistorialMeet.value.length).fill(false)
);
const showMeetActive: Ref<boolean[]> = ref(
  new Array<boolean>(listActivesMeet.value.length).fill(false)
);

const showProgress = ref(false);
const path_meet_add = "meet-add";
const showModalSearchMeet = ref(false);

// Methods
function limitText(text: string | undefined): string {
  return limitTextGral(text as string, 18);
}

const goToAddMeet = () => {
  router.push(path_meet_add);
};

const goToHomeMeetActive = async (meet: MeetDTO) => {
  showProgress.value = true;
  await useUserLoginStore().initSettleUserLogin(meet);
  await router.push(path_home);
  showProgress.value = false;
};

const goToUpdateMeetActive = async (meet: MeetDTO) => {
  showProgress.value = true;
  await meetCtrl.setMeetActive(meet);
  router.push("meet-add" + "/" + meet.idMeet);
  showProgress.value = false;
};

const confirmDelete = async (): Promise<boolean> => {
  showProgress.value = true;
  return await AlertsUtil.confirmCancelAlert(
    "Confirma borrar el encuentro?",
    "Cancelar",
    "Eliminar"
  );
};

const deleteMeetActiveConfirm = async (idMeet: string) => {
  showProgress.value = true;
  if (await confirmDelete()) {
    meetCtrl.removeMeetActive(idMeet);
    listActivesMeet.value = listActivesMeet.value.filter(
      (m) => m.idMeet !== idMeet
    );
  }
  showProgress.value = false;
};

const deleteMeetHistorialConfirm = async (idMeet: string) => {
  showProgress.value = true;
  if (await confirmDelete()) {
    meetCtrl.removeMeetHistorial(idMeet);
    listHistorialMeet.value = listHistorialMeet.value.filter(
      (m) => m.idMeet !== idMeet
    );
  }
  showProgress.value = false;
};

onIonViewWillEnter(() => {
  showProgress.value = true;
  listActivesMeet.value = meetCtrl.getListActivesMeet();
  listHistorialMeet.value = meetCtrl.getListHistorialMeet();
  showProgress.value = false;
});
</script>
