<template>
  <IonPage>
    <HeaderApp></HeaderApp>
    <IonContent class="ion-padding" :fullscreen="true">
      <IonItem>
        <IonInput
          :clear-input="true"
          label="Nombre: "
          placeholder="Nombre"
          v-model="name"
        ></IonInput>
      </IonItem>

      <IonItem lines="none">
        <IonButton
          color="secondary"
          slot="end"
          size="small"
          shape="round"
          @click="router.back()"
        >
          Cancelar
        </IonButton>
        <IonButton
          class="ion-no-margin"
          :disabled="!isMeetActive"
          color="secondary"
          slot="end"
          size="small"
          shape="round"
          @click="createOrUpdateMeet()"
        >
          {{ props.id ? "Modificar" : "Agregar" }}
        </IonButton>
      </IonItem>
    </IonContent>
  </IonPage>
</template>

<script setup lang="ts">
import { IonItem, IonButton, IonInput, onIonViewWillEnter } from "@ionic/vue";
import { Ref, ref } from "vue";
import { useRouter } from "vue-router";

import HeaderApp from "@/views/HeaderApp.vue";
import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import MeetAdapterSettle from "@/arq_hex/settle/_adapters/MeetAdapter";
import { useUserLoginStore } from "@/arq_hex/gral/_domain/store/UserLoginStore";
import { MeetDTO } from "@/arq_hex/settle/_domain/dto/MeetDTO";
import { IPortMeet } from "@/arq_hex/settle/_ports/IPortMeet";

const meetCtrl: IPortMeet = MeetAdapterSettle.getInstance();
const router = useRouter();

// Definido en settleRoutes.ts, el parametro se recibe como propiedad
const props = defineProps<{
  id: string | undefined;
}>();

// Attributes
const path_home = "/settle";
const meetActive: Ref<MeetDTO | undefined> = ref(meetCtrl.getMeetActive());
const name: Ref<string> = ref("");
const isMeetActive = ref(true);

//Methods
const resetName = async () => {
  name.value = "";
};

const resetField = async () => {
  resetName();
};

const goToHome = () => {
  if (props.id) {
    router.back();
  } else {
    router.push(path_home);
  }
};

const createOrUpdateMeet = async () => {
  if (!name.value) {
    AlertsUtil.confirmAlert("Name of meet is mandatory!");
    return;
  }
  //Si ya tenia id es una actualizacion.
  if (props.id) {
    if (meetActive.value) {
      meetActive.value.name = name.value;
      await meetCtrl.updateMeet(meetActive.value);
    } else {
      console.log("***ERROR***** createOrUpdateMeet MeetAdd", meetActive.value);

      AlertsUtil.toastNoMeetActive();
    }
  } else {
    await meetCtrl.createMeet(name.value).then((newMeet) => {
      //Creo el encuentro e inicializo la estructura.
      useUserLoginStore().initSettle_New_MeetUserLogin(newMeet as MeetDTO);
    });
  }
  resetField();
  goToHome();
};

onIonViewWillEnter(() => {
  //Si existe id es una actualizacion.
  if (props.id) {
    meetActive.value = meetCtrl.getMeetActive();
    if (meetActive.value) {
      name.value = meetActive.value.name as string;
      isMeetActive.value = meetActive.value.active;
    } else {
      AlertsUtil.toastMessage("Hubo un problema con el encuentro.");
    }
  }
});
</script>

<style scoped></style>
