<template>
  <IonPage>
    <HeaderApp></HeaderApp>
    <IonContent class="ion-padding" :fullscreen="true">
      <SubHeaderSettle
        v-if="meetActive?.name"
        :meet-name="meetActive.name"
      ></SubHeaderSettle>

      <IonList v-if="meetActive?.name">
        <IonItem class="ion-no-margin">
          <IonLabel>
            <IonText color="secondary">
              <strong>Gastos</strong>
            </IonText>
          </IonLabel>

          <IonFabButton
            :disabled="!meetActive.active"
            class="button-transparent"
          >
            <IonIcon
              @click="goToAddBill"
              :icon="add"
              color="secondary"
            ></IonIcon>
          </IonFabButton>
        </IonItem>

        <BtnBillEmpty
          v-if="meetActive.active && listBill.length === 0"
        ></BtnBillEmpty>

        <ListBillSettleHoriz
          :key="reloadHorizListBill"
          :listBill="listBill"
        ></ListBillSettleHoriz>
      </IonList>

      <IonItem lines="none" v-if="isMeetActive">
        <IonIcon
          color="secondary"
          :icon="personAddOutline"
          @click="adduser"
        ></IonIcon>
      </IonItem>

      <BtnCheckBill></BtnCheckBill>
    </IonContent>
  </IonPage>
</template>

<script setup lang="ts">
import { add, personAddOutline } from "ionicons/icons";
import {
  onIonViewWillEnter,
  IonItem,
  IonLabel,
  IonList,
  IonIcon,
  IonFabButton,
  IonText,
} from "@ionic/vue";
import { Ref, ref } from "vue";

import HeaderApp from "@/views/HeaderApp.vue";
import MeetAdapterSettle from "@/arq_hex/settle/_adapters/MeetAdapter";
import SubHeaderSettle from "@/components/settle/SubHeaderSettle.vue";
import BtnCheckBill from "@/components/settle/BtnCheckBill.vue";
import ListBillSettleHoriz from "@/components/settle/ListBillSettleHoriz.vue";

import { BillAdapter } from "@/arq_hex/settle/_adapters/BillAdapter";
import { IPortBill } from "@/arq_hex/settle/_ports/IPortBill";
import { IPortMeet } from "@/arq_hex/settle/_ports/IPortMeet";
import { BillDTO } from "@/arq_hex/settle/_domain/dto/BillDTO";
import { useRouter } from "vue-router";
import BtnBillEmpty from "@/components/settle/BtnBillEmpty.vue";
import AlertsUtil from "@/arq_hex/_utils/alerts/AlertsUtil";
import { MeetDTO } from "@/arq_hex/settle/_domain/dto/MeetDTO";

const router = useRouter();

const billCtrl: IPortBill = BillAdapter.getInstance();
const meetCtrl: IPortMeet = MeetAdapterSettle.getInstance();

const meetActive: Ref<MeetDTO | undefined> = ref(meetCtrl.getMeetActive());
const isMeetActive: Ref<boolean> = ref(
  meetActive.value ? meetActive.value.active : false
);
const path_bill_add = "bill-add";
const path_user_add = "/settle/main/user-list";
const reloadHorizListBill = ref(0);

//Methods
const goToAddBill = () => {
  router.push(path_bill_add);
};

const adduser = async () => {
  await router.push(path_user_add);
};

const getListBillByMeetActive = () => {
  meetActive.value = meetCtrl.getMeetActive();
  if (meetActive.value) {
    const bills: BillDTO[] = meetActive.value.active
      ? billCtrl.getListBillMeetActive(meetActive.value.idMeet as string)
      : billCtrl.getListBillMeetClose(meetActive.value.idMeet as string);

    reloadHorizListBill.value++;

    return bills;
  } else {
    console.log(
      "***ERROR***** onIonViewWillEnter SettleBody",
      meetActive.value
    );

    AlertsUtil.toastNoMeetActive();
  }
  reloadHorizListBill.value++;
  return new Array<BillDTO>();
};
//-----------------------
// Attribute listBill
const listBill: Ref<BillDTO[]> = ref(getListBillByMeetActive());
//-----------------------

onIonViewWillEnter(() => {
  listBill.value = getListBillByMeetActive();
});
</script>

<style scoped>
@import "@/assets/button-transparent.css";
</style>
