<template>
    <IonPage>
        <IonContent class="ion-padding" :fullscreen="true">

            <!-- Aqui se visualizan las paginas hijas de Settle-->
            <ion-router-outlet></ion-router-outlet>
            <!-- <RouterView></RouterView> -->

        </IonContent>
    </IonPage>
</template>

<script setup lang="ts">

import { IonRouterOutlet } from '@ionic/vue';
</script>
<style scoped></style>