<template>
  <ion-app>
    <!-- Aqui se visualizan las paginas -->
    <ion-router-outlet></ion-router-outlet>
  </ion-app>
</template>

<script setup lang="ts">
import { IonApp, IonRouterOutlet } from "@ionic/vue";
</script>

<style scoped>
ion-app {
  font-family: Verdana, sans-serif;
  margin: auto;
  padding: 5px;
  max-width: 65ch;
  max-height: 95%;
  text-align: left;
}
</style>
