<template>
  <IonCard class="ion-no-padding">
    <IonCard-content>
      <IonText color="danger">
        <p>
          Sitio en construcción, el diseño (colores, etc,) no esta terminado y
          faltan implementar algunas acciones.
        </p>
      </IonText>
      <IonText color="danger">
        <p>Recomendacion abrir desde un <strong>celular</strong>!.</p>
      </IonText>
    </IonCard-content>
  </IonCard>
</template>

<script setup lang="ts">
import { IonText, IonCardContent } from "@ionic/vue";
</script>

<style scoped></style>
