<template>
  <IonCard class="ion-no-padding" color="tertiary">
    <IonCard-header>
      <IonCard-title>Settle</IonCard-title>
      <IonCard-subtitle
        >Aplicacion para compartir gastos en reuniones</IonCard-subtitle
      >
    </IonCard-header>
    <IonCard-content>
      Comparta gastos entre los integrantes, sin tener que calcular cuanto debe
      aportar cada uno.
      <IonIcon :icon="arrowRedoOutline" size="small"></IonIcon>
    </IonCard-content>
  </IonCard>
</template>

<script setup lang="ts">
import { arrowRedoOutline } from "ionicons/icons";
import {
  IonCardTitle,
  IonCardSubtitle,
  IonCardHeader,
  IonCardContent,
  IonIcon,
} from "@ionic/vue";
</script>
<style scoped></style>
