<template>
  <IonCard class="ion-no-padding ion-no-margin">
    <IonCard-content>
      <IonText color="danger">
        <p>
          No agregar un mail verdadero, no se guarda encriptado.
          ¡¡¡Agregue uno que pueda recordar!!!
        </p>
      </IonText>
      <IonText color="danger">
        <p>Sugerencia: Si su nombre es Maria, podría ser, maria@maria.com</p>
      </IonText>
    </IonCard-content>
  </IonCard>
</template>

<script setup lang="ts">
import { IonText, IonCardContent } from "@ionic/vue";
</script>

<style scoped></style>
